@{
    ViewData["Title"] = Localizer["Downloads"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-ziggy.jpg" class="figure-img img-fluid" alt="download page image">
        <figcaption class="figure-caption caption chinese">@Localizer["From a shower and clean clothes to safe shelter and job training, your support provides everything a person needs to turn their life around."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Renewal Downloads"]</h2>
        <p>@Localizer["Read about the three best ways to support our work at Renewal with the latest edition of Let's Renewal!"]</p>
        <p><a href="~/downloads/一起日新！Let's Renewal 2020-06-01.pdf" download>@Localizer["一起日新！Let's Renewal 2020-06-01.pdf"]</a></p>
        <p>@Localizer["Planning on promoting Renewal for your own fundraiser or clothing drive? Please read our guidelines in the Let's Renewal document above and feel free to download our logo here:"]</p>
        <p><a href="~/downloads/renewal-logo.zip" download>@Localizer["Renewal Logo"]</a></p>
    </div>
</div>