@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@{
    ViewData["Title"] = "News";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 12"];
    ViewData["IssueStyle"] = "issue-12";
    ViewData["IssueDate"] = Localizer["SPRING 2019"];
    //ViewData["CoverPhotoCaption"] = Localizer["Working in a prestigious kitchen gave Zhou Yushuai the skills to get a full-time job."];
    ViewData["CoverPhotoCaption"] = Localizer["The Spring Festival is over, but new life is growing at Renewal."];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.57;
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">@Localizer["In this issue of Re:news"]</h6>

                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue12/liang.jpg">
                    @Localizer["Your amazing support made this Spring Festival..."]
                </a>
                <p class="excerpt">@Localizer["Lao Liang regularly prepares hot, healthy meals for our guests."]</p><br>

                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue12/liu-junyi.jpg">
                    @Localizer["...the most wonderful time of the year"]
                </a>
                <p class="excerpt">@Localizer["You gave Liu Junyi a chance to feel safe"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/news/issue12/li.jpg">
                    @Localizer["You're always there, always helping"]
                </a>
                <p class="excerpt">@Localizer["Guests like Mr. Li rely on your kind support"]</p><br>

                <!--<div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>@Localizer["You gave him a chance, not a cheat!"]</h3>
                <div class="news-subheader mb-4">@Localizer["Your gifts beat scammers who target the unemployed"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue12/yuanfujiang.jpg">
                <!--<figcaption class="figure-caption caption chinese">@Localizer["Yuan Fujiang now has a satisfying job with a legitimate employer."]</figcaption>-->
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->
                <p class="mb4 clear">
                    <b>@Localizer["Your gifts are giving Yuan Fujiang satisfying work in a job market peppered with cheats and scammers."]</b>
                    @Localizer["'I was brought by a friend to the Renewal Center,' he recalls. 'The first time I came I saw a poster that said help was available finding a stable job, so I decided to enter the training program. At first I was a little nervous - I thought it might be another scam...'"]
                </p>
                <p>
                    @Localizer["Yuan was right to be concerned. In extreme cases, we've had program participants who were lured into scams and taken to remote farms in western China where they were forced to work. These days, a man living on the streets is more likely to meet a person claiming to be a recruiter who says he can get him a job. He requires a finder's fee or money to buy a uniform and then disappears, never to be seen again."]        
                </p>
                <blockquote>
                    @Localizer["Yuan Fujiang thought the training program was too good to be true."]<br>
                </blockquote>
                <p>
                    @Localizer["Sometimes the job is real, but the recruiter may be paid handsomely to find employees even for a dead-end job (see a chance to feel safe p.3). But Yuan now says, 'Slowly my fear melted away and I knew the Renewal Center could give me the help and care I desperately needed.' He has now been working with our valued restaurant partner Element Fresh for over five months."]
                </p>
                <p>
                    @Localizer["'I've learned so much there,' says Yuan. 'I've made lots of mistakes but my manager teaches me patiently. It really motivates me to carry out all my responsibilities well.' When he reflects on your support for the Renewal Center, Yuan beams, 'The happiest thing is the joy the community brings. So I think about how I can best use my own time to pitch in and help. This is the path to happiness. Thank you again for your help!'"]
                </p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">@Localizer["In this issue of Re:news"]</h6>
                <a class="sub-menu-a styled-link" href="#story-3">@Localizer["Your amazing support made this Spring Festival..."]</a>
                <p class="excerpt">@Localizer["Lao Liang regularly prepares hot, healthy meals for our guests."]</p>
                <a class="sub-menu-a styled-link" href="#story-4">@Localizer["...the most wonderful time of the year"]</a>
                <p class="excerpt">@Localizer["You gave Liu Junyi a chance to feel safe"]</p>
                <a class="sub-menu-a styled-link" href="#story-5">@Localizer["You're always there, always helping"]</a>
                <p class="excerpt">@Localizer["Guests like Mr. Li rely on your kind support"]</p>
            </div>
            <div id="story-2">
                <h2>@Localizer["Thanks for bringing new hope to men and women on the streets!"]</h2>
                <img class="img-fluid story-img" src="~/images/news/issue11/hj.jpg">
                <!--<div class="news-subheader">@Localizer["We are helping the marginalized and forgotten thanks to your support"]</div>-->
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney and Hanson Ye"]</p>-->
                
                <p>@Localizer["Your support means the Renewal Center keeps helping people in exciting new ways."]</p>
                <p>@Localizer["For instance, when we noticed that fewer women are joining our residential program, we noticed it's because those we do meet need medical help or have mental health problems. This inspired us to start working with a local hospital to offer free medical treatment to women who would otherwise have to pay for all their care and medicine, when they are simply too poor to afford help they need."]</p>
                <p>@Localizer["Another way we are hoping to make the most of your support is to expand our training program this year, ideally to once again open a café that can train homeless men in restaurant careers. Thanks to you, we can continue to look for new ways to bring hope to people wherever they are - whether they are on the streets or working their way into a new life."]</p>
                <p>@Localizer["Hanson Ye and Jimmy McWhinney"]</p>
            </div>
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <div id="story-3">
                <div class="news-subheader">@Localizer[""]</div>
                <h2>@Localizer["Your amazing support made this Spring Festival..."]</h2>
                <div class="news-subheader mb-4">@Localizer[" "]</div>
                <img class="img-fluid story-img" src="~/images/news/issue12/liang.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Lao Liang regularly prepares hot, healthy meals for our guests."]</figcaption>
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney"]</p>-->
                <p class="mb4 clear"><b>@Localizer["You know that Spring Festival is a time of traveling home, celebration with family, exchanging presents and sharing lots of traditional food."]</b> @Localizer["It's heartbreaking that many people can't afford these luxuries, which is why you'll be thrilled to know you gave 80 people in need a celebration of warmth, friendship and a hot, holiday meal at the Renewal Center."]</p>
                <p>
                    @Localizer["Our regular guest Lao Liang helped prepare the feast, washing and cutting mountains of vegetables. As an army veteran and former prison inmate, Mr. Liang has earned valuable experience working in kitchens. His help was crucial in serving so many people that day - and inviting them all to come back for seconds, and even thirds. None of the food you generously provided went to waste!"]
                </p>
                <p>
                    @Localizer["The festive meal included favorites like braised pork with pickled greens, chicken and potatoes, as well as hand-made sausages stir-fried with garlic and sprouts. In all, five days of preparation went into making the Spring Festival meal and - in addition to your amazing support - it was our own program residents who did most of the cooking and serving to make the feast truly special."]
                    @Localizer["Through you, we even managed to give each one a small gift of cash in a traditional hongbao, as well as a bag full of fruit, nuts and a bottled drink."]
                </p>
            </div>
            <div id="story-4">

                <h2>@Localizer["...the most wonderful time of the year"]</h2>
                <div class="news-subheader mb-4">@Localizer["You gave Liu Junyi a chance to feel safe"]</div>

                <img class="img-fluid story-img" src="~/images/news/issue12/liu-junyi.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["He knows how dangerous life is on the streets."]</figcaption>
                <br />
                <br />

                <p class="mb4 clear">    
                    @Localizer["Here's a picture of just how meaningful your help is. At the Renewal Center, your gifts made Spring Festival more than just a celebratory meal. It gave many people the chance to feel like a part of a family again - and to feel safe. Liu Junyi, age 37, described working in appalling conditions in cities across China, but never earning enough to rent a home. He finally moved to Shanghai because of its low crime rate, which he feels is essential for anyone who would consider sleeping outdoors."]
                </p>
                
                <p>
                    @Localizer["I don't have a place to live, I just need some place out of the rain and a warm blanket to sleep under, he says. Liu is often lonely and scared, having seen people robbed or accosted on the streets. But at the Spring Festival dinner, he had a smile on his face, and we do everything for Liu that we can."]
                </p>
                <p>
                    @Localizer["People were thrilled to share this time of celebration and good food. Many guests went out of their way to be kind to each other, even surrendering their place in line when it seemed too long. Mr. Liang's words fully express the joy we want to share with you. 'That day, everyone was happy. Our thanks go out to you and to everyone who helped us, because our happiness comes from your help!'"]
                </p>

            </div>
            <div id="story-5">
                <h3>@Localizer["You're always there, always helping"]</h3>
                <div class="news-subheader mb-4">@Localizer["Guests like Mr. Li rely on your kind support"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue12/li.jpg">
                <p>
                <p class="mb4 clear">
                    <b>@Localizer["Ever been so broke you had to leave town?"]</b> @Localizer["Mr. Li, age 43, drops into the Renewal Center for a hot meal when he is waiting for casual work setting up and breaking down stages. But when demand drops off he struggles to survive - and takes advantage of low-cost bus or train tickets to Inner Mongolia where life is hard, but goods are cheaper."]
                </p>
                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["Give meals, help and support to a homeless person and put them on the path to growth and new life."]</span>
                    @*@if (currency.Name.Contains("zh"))
                    {
                        <span class="blockquote-winter" style="padding-left: 0px">@baseAmountCNY.ToString("C", currency)</span>
                    }
                    else
                    {
                        <span class="blockquote-winter" style="padding-left: 0px">@baseAmountUSD.ToString("C", currency)</span>
                    }*@
                    <br /><br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Campaign">@Localizer["My gift for new life today"] <i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>
                <p>
                    @Localizer["Despite Shanghai's many opportunities, the city offers little help for those who lack the right connections. 'For people like me at the bottom of society, it's extremely hard to make a living,' says Mr. Li. He reflects how hard it is to even maintain lasting relationships among a class of people who are constantly on the move."]
                </p>
                <p>
                    @Localizer["'I have no real friends I can trust, but I enjoy coming to the Renewal Center,' says Mr. Li He isn't adverse to sleeping outdoors or in fast-food restaurants, but worries about the consequences. 'If I sleep on the street, how do I keep myself and my clothes clean? If I get dirty people will avoid me, which makes it even harder to get a job.'"]
                </p>
                <p>
                    @Localizer["Because he can wash up and do laundry at the Renewal Center, Mr. Li certainly finds more work than he would otherwise and even arranges for people he knows to work with him. Employers find him very reliable, but the work comes and goes. While he struggles to make ends meet, Mr. Li and we are very grateful for your continued help for drop-in services, like laundry, showers, food, warmth - and offers of further help."]
                </p>

            </div>

    </div>
</div>