@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "News";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 13"];
    ViewData["IssueStyle"] = "issue-13";
    ViewData["IssueDate"] = Localizer["AUTUMN 2019"];
    ViewData["CoverPhotoCaption"] = Localizer["The smallest gift -- like lunch or a hot shower -- can start a person on the road to new life."];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.57;
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">@Localizer["In this issue of Re:news"]</h6>

                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue13/page-2.jpg">
                    @Localizer["'Thanks for sending us a great employee!'"]
                </a>
                <p class="excerpt">@Localizer["Through your help Yao Han has a good job, and his employer has a hard worker."]</p><br>

                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue13/page-3.jpg">
                    @Localizer["The surprising true story of Xu and you"]
                </a>
                <p class="excerpt">@Localizer["A tale of how your kindness is helping a homeless man deliver the goods"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/news/issue13/page-4.jpg">
                    @Localizer["Clothes make the man, you make his future"]
                </a>
                <p class="excerpt">@Localizer["Frontline services like washing machines open the door to career training"]</p><br>

                <!--<div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>@Localizer["You provide doctors and nurses for women on the streets"]</h3>
                <div class="news-subheader mb-4">@Localizer["Homeless women have crucial healthcare, thanks to you"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue13/page-1.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Wu Zhiming is amazed someone cares enough to help her stay healthy."]</figcaption>
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->
                <p class="mb4 clear">
                    <b>@Localizer["Inspired by your support, volunteer doctors and nurses are visiting the Renewal Center to provide healthcare to women."]</b>
                    @Localizer["Homeless women tend to be older than homeless men, and may have more problems. They deal with greater danger because of the greater likelihood of physical or sexual assault. Women may also be mentally and emotionally traumatized, having been abused, abandoned or thrown out of whatever home they had before."]
                </p>
                <p>
                    @Localizer["For them, just getting basic healthcare seems impossible. State-subsidized medical care is available only to those with ID cards. Most homeless people don't have one and those who do often come from outside Shanghai."]
                    @Localizer["So a homeless woman has to pay to see a doctor -- full price, in advance, and even in a life-threatening emergency. The result is that those who can't even afford decent meals or clean clothes never get medical attention at all."]
                </p>
                <blockquote>
                    @Localizer["Big thanks to you. There is really no one else who would treat people like me so well."]<br>
                </blockquote>
                <p>
                    @Localizer["This means that women who rely on the Renewal Center are surprised and exceptionally grateful for the monthly visits from volunteer doctors and nurses who talk to them one-on-one about healthy living and their individual medical concerns. Groups of three or four professionals from an international hospital bring not only a high standard of care, but genuine compassion and cheer."]
                    @Localizer["One doctor even asked one of the women to show that dancing can be great exercise and found herself impressed by her fancy footwork!"]
                </p>
                <p>
                    @Localizer["Through them, your kindness reached Wu Zhiming, who is a Shanghai native but doesn't have a home. She was gushing with thanks for your care and partnership when she said, 'I've learned to value being clean and keeping my body healthy. No one else would treat people like me so well. You are really too good to us. Big thanks to you!'"]
                </p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">@Localizer["In this issue of Re:news"]</h6>
                <a class="sub-menu-a styled-link" href="#story-3">@Localizer["'Thanks for sending us a great employee!'"]</a>
                <p class="excerpt">@Localizer["Through your help Yao Han has a good job, and his employer has a hard worker."]</p>
                <a class="sub-menu-a styled-link" href="#story-4">@Localizer["The surprising true story of Xu and you"]</a>
                <p class="excerpt">@Localizer["A tale of how your kindness is helping a homeless man deliver the goods"]</p>
                <a class="sub-menu-a styled-link" href="#story-5">@Localizer["Clothes make the man, you make his future"]</a>
                <p class="excerpt">@Localizer["Frontline services like washing machines open the door to career training"]</p>
            </div>
            <div id="story-2">
                <h2>@Localizer["Renewal residents cook up new careers"]</h2>
                <img class="img-fluid story-img" src="~/images/news/issue13/jimmy-and-hanson.jpg">

                <p>@Localizer["Great news. The Renewal Center's Fresh Start Cafe is making a comeback, thanks to the support of generous donors like you! Not only will earnings from the new cafe provide crucial funding to help homeless people, it will also serve as a training program where residents learn valuable food service skills and gain an opportunity to be placed in a full time job with one of our partner restaurants."]</p>
                <p>@Localizer["Since 2016, the stoves, ovens, tables, chairs, and even lighting and wiring has been safely stored, waiting for they day we found a new location. And I'm pleased to announce that day has come. The new site in downtown Shanghai will give the Renewal Center a foothold in the city center, where your giving can be even more effective in spotting the talents of homeless people who just need training. Thanks again for helping provide the resource they need to launch a lasting career!"]</p>
                <p>@Localizer["Hanson Ye and Jimmy McWhinney"]</p>
            </div>
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <div id="story-3">
                <div class="news-subheader">@Localizer[""]</div>
                <h2>@Localizer["'Thanks for sending us a great employee!'"]</h2>
                <!--<div class="news-subheader mb-4">@Localizer[" "]</div>-->
                <img class="img-fluid story-img" src="~/images/news/issue13/page-2.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Through your help Yao Han has a good job, and his employer has a hard worker."]</figcaption>
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney"]</p>-->
                <p class="mb4 clear">
                    @Localizer["Renewal employment partner Element Fresh reports that the new employees you help to train are among their most skilled and hard working. Renewal trainee graduate Yao Han took a job with Element Fresh after completing the training program and finding it impossible to land a good job back in his home town. 'I started a few jobs, but they weren't good. I never knew what to expect and the bosses always tried to take advantage. At the Center, I know I can find a job with a good environment and fair wages.'"]
                </p>
                <blockquote>
                    @Localizer["At the Center, I know I can find a job with a good environment and fair wages."]<br>
                </blockquote>
                <p>
                    @Localizer["It's part of our promise to you as a Renewal supporter -- never to place a person you helped to train into a dead-end job, and never send a valued employer a graduate trainee until they are fully skilled, ready and willing. Your support is amazing. Thank you!"]
                </p>
            </div>
            <div id="story-4">

                <h2>@Localizer["The surprising true story of Xu and you"]</h2>
                <div class="news-subheader mb-4">@Localizer["A tale of how your kindness is helping a homeless man deliver the goods"]</div>

                <img class="img-fluid story-img" src="~/images/news/issue13/page-3.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["You've encouraged Xu to earn a living making special deliveries across Shanghai."]</figcaption>
                <p class="mb4 clear">
                    @Localizer["Today you might find Xu Bo cycling along the Bund with flowers ... or striding into the International Finance Center to deliver a contract ... or hurrying across Yu Garden to Renmin Road where a little girl is waiting for a birthday present from her auntie in Beijing."]
                </p>
                <p>
                    @Localizer["Formerly homeless and jobless, Xu Bo is now an expert at ensuring any item you send in Shanghai arrives on time. But it took him a while to find a job that really suited him. After graduating from Renewal's training program Xu Bo tried working in a coffee shop, in factories, and as a security guard. But none of the jobs were right for him."]
                </p>
                <blockquote>
                    @Localizer["You gave Xu the time and space he needed to find the right job."]<br>
                </blockquote>
                <p>
                    @Localizer["Long hours, low pay and extremely demanding bosses are an often quoted reason why young men leave work. But now that Xu's 'boss' is simply an app on his smartphone, he can decide whether or not to take a callout. Amazing how modern technology has taken the supervisor out of the picture and lets the employee answer to customers."]
                </p>
                <p>
                    @Localizer["But this story is not only about Xu Bo. It's about you and Xu. You see, you gave Xu the time and space he needed to find the right job by sending faithful support to the Renewal Center. He and the other residents are very thankful for that kind of support, because there's really no other place in Shanghai that you could donate to that will give people like Xu Bo a chance to not only find a job, but to find the right job no matter how long it takes."]
                </p>
                <p>
                    @Localizer["In fact, you gave Xu the help he needed when no one else but you cared enough about him to give him the boost he needed! Likewise, he hopes he's giving you the satisfaction of knowing that your gifts helped a good man find a good job, so he can afford all the essentials of life in this amazing but challenging city."]
                </p>

            </div>
            <div id="story-5">
                <h3>@Localizer["Clothes make the man, you make his future"]</h3>
                <div class="news-subheader mb-4">@Localizer["Frontline services like washing machines open the door to career training"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue13/page-4.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Meng Jia'ou initially came to the Renewal Center because he was tired of feeling dirty."]</figcaption>
                <p>
                <p class="mb4 clear">
                    <b>@Localizer["It's one of the busiest shopping streets in the world, but when the shops close you'll find many homeless people struggling to survive..."]</b>
                    @Localizer["'I originally came to Shanghai to look for work. But I didn't find a job ... so at night I would sleep on the Nanjing East Road,' says Meng Jia'ou, who grew up in a poor rural area in Guangxi province in southern China."]
                </p>
                <p>
                    @Localizer["'During the day, I would look for odd jobs, and someone brought me to the Renewal Center. Before then, I didn't have a place to get cleaned up. I was filthy! I had absolutely no hope or direction.' It's the same story for many young men who come to Shanghai looking for work. When the dream job doesn't materialize, the downward spiral begins."]
                </p>
                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["Give meals, help and support to a homeless person and put them on the path to growth and a good job."]</span>
                    @*@if (currency.Name.Contains("zh"))
                        {
                            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountCNY.ToString("C", currency)</span>
                        }
                        else
                        {
                            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountUSD.ToString("C", currency)</span>
                        }*@
                    <br /><br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Campaign">@Localizer["My gift to train homeless people for steady work"] <i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>
                <p>
                    @Localizer["You go days without a shower. You start skipping meals. Your clothes get filthy. You have no choice but to sleep in a doorway -- and then have even less of a chance of finding a job. Meng Jia'ou explains that when he first visited, 'I wanted to wash and change clothes, to make my appearance look a little better. I came for the first time last month, and when I changed into clean clothes, my spirit and countenance were much improved. It gives me confidence to look for work.'"]
                </p>
                <p>
                    @Localizer["Every day, another new person comes to the Renewal Center hoping for a shower or something to eat, and they find so much more -- a place to train for a job that pays a decent wage. When he first arrived, Meng Jia'ou just wanted to wash off all the dirt, but he's since joined the training program on the path to a better life. 'My biggest need is career training,' he says today. 'I don't want to live on the streets anymore.'"]
                </p>

            </div>

        </div>
    </div>
