@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    @@media only screen and (max-width : 768px) {
        .row.news {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<div class="container news-container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/issue19/story-1.jpg">
            <figcaption class="figure-caption caption chinese" style="float:left;text-align:left;padding:10px 0px 0px 0px">@Localizer["Our mobile team is still finding people in need."]</figcaption>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
            <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts can transform lives in Shanghai"]</h4>
            <p style="float:left;color:gray">@Localizer["Issue 19"]</p>
            <p style="float:right;color:gray">@Localizer["Autumn 2022"]</p>
            <p class="clear">
                <h2><b>@Localizer["Drop-in center poised to reopen for cold weather"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["People urgently need coats, warm clothes and hot meals"]</div>
            </p>
            <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->

            <p class="mb4 clear">
                @Localizer["Any day now we hope to welcome homeless guests back to our drop-in center, which opened briefly in October but was forced to close again despite the steady stream of people seeking urgent help. The relief was short after months of COVID restrictions, but our mobile team is still taking meals and warm clothes to people out on the streets."]
			</p>
            <p>
                @Localizer["It was hard enough for people during summer lockdown to fight for survival outdoors. Now as the nighttime temperature dips and cold weather approaches, we are seeing more and more cold, hungry people who are all alone and urgently need help."]
            </p>
			<p>
                @Localizer["Only when the drop-in center reopens again will we be able to provide full front-line support including showers and laundry. Costs are also rising, and food especially is more expensive than before the pandemic began. People ask for meals more than anything else we provide, so your generosity today will offer life-changing support."]
            </p>
			<p style="margin-bottom:0px">
                <b>@Localizer["In fact, a gift of just 120 RMB can equip our street team to provide a wholesome meal, clean clothes and in-person as many as 12 people. We and they will be incredibly grateful until the drop-in center can open again."]</b>
            </p>
			
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>

        </div>
    </div>
    <hr style="border-top:2px solid black" />
    <div class="row news">
        <div class="col-md-6">
            <p class="mb4 clear" id="MobileHeading1">
                <h2><a name="story-2"><b>@Localizer["More than just his next meal"]</b></a></h2>
                <div class="news-subheader mb-4">@Localizer["Lockdown didn’t stop Jiang Yuanyan from training for a new job"]</div>
            </p>
			<blockquote>
                @Localizer["I have a job and don’t have to wonder where my next meal is coming from."]<br>
            </blockquote>
            <p class="mb4 clear">
                @Localizer["A better name for our drop-in center might actually be “welcome center” because it’s not only where we provide front-line support – it’s where we get to know people like Jiang Yuanyan who have the drive to enter our residential training program."]
            </p>
            <p>
                @Localizer["Jiang Yuanyan is one of only a handful of people who entered our program during lockdown. With the drop-in center closed during that time, it felt nearly impossible to meet potential new trainees – so it’s good to know that bright and capable people could still find their way from living on the streets to landing a job full time job. Today, thanks to support from friends like you, Jiang Yuanyan is working with SF Express, a very reputable delivery company, and is serving the Jiaotong University campus nearby."]
            </p>
			<p>
                @Localizer["Jiang Yuanyan aspires to build a career in the computer field. Until then, he is glad to be working steadily, saving money, gaining experience and building solid references. Success in his current job will soon help him land a more demanding role that requires all of his technical abilities."]
            </p>
            <p>
                @Localizer["When asked how he coped through a recent quarantine, Jiang Yuanyan was characteristically positive. “I have a job and I don’t have to wonder where my next meal is coming from,” he smiled. “This is a lot better than sleeping in the train station.”"]
            </p>
            <p>
                @Localizer["Now that the drop-in center has reopened, we will be looking for more trainees. One big concern is that people are already looking for coats and warm clothes as we see cold weather on the horizon."]
            </p>

            <p>
                <b>@Localizer["What a great time it would be for your support to inspire another person not just to receive a meal, but have the opportunity to spend the winter in warm, supportive home where they can train for a satisfying career."]</b>
            </p>
						
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>
<!--
            <div class="red-border">
                <span class="blockquote-winter">@Localizer["A hot meal and shower costs 15 RMB ($2.30). Add a day’s job training for a total of 60 RMB ($9.20)."]</span>
                <br /><br />
                <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift for meals and training"]<i class="arrow right-arrow"></i></a>
                <div style="margin-bottom:15px;"></div>
            </div>
-->
        </div>
        <div class="col-md-6">
            <div id="MobileScreenImg">
                <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/issue19/story-2.jpg">
                <figcaption id="imagecaption1" style="padding:10px 0px 0px 0px" class="figure-caption caption chinese mb4 clear">@Localizer["People in search of hot food and warm clothes find so much more."]</figcaption>
            </div>
        </div>
    </div>
</div>
