@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    @@media only screen and (max-width : 768px) {
        .row.news {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<div class="container news-container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid story-img" src="~/images/news/issue17/story-1.jpg">
            <figcaption class="figure-caption caption chinese" style="float:left;text-align:left;padding:10px 0px 0px 0px">@Localizer["Meal preparation is now faster and easier for helpers like Xiao Zhang."]</figcaption>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
            <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts can transform live in shangai"]</h4>
            <p style="float:left;color:gray">@Localizer["Issue 17"]</p>
            <p style="float:right;color:gray">@Localizer["Winter 2021"]</p>
            <p class="clear">
                <h2><b>@Localizer["Transformed center welcomes more people"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["More space means more people are finding hope this Christmas season"]</div>
            </p>
            <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->

            <p class="mb4 clear">
                @Localizer["Healthier. Happier. Greater flexibility. Wider access. Recent renovations are giving homeless guests a vastly improved space where they can rebuild their lives –thanks to your support!"]
            <p>
                @Localizer["In 2017 the Renewal Center had to leave our former location when our landlord died. We’ve since grown accustomed to our new suburban site – where your support has helped cover the cost of fitting it out more completely..."]
            </p>
			<p>
                @Localizer["The kitchen and laundry are now separate, enabling the kitchen to stay cleaner and prepare more hot meals for our homeless guests. A former storage space now welcomes more guests and training sessions, while a curtain affords privacy for counselling, legal help, doctor’s visits and interviews. The portable shower has been replaced by two new showers with stronger pressure and hot water. There’s level access for older guests who also benefit from a new accessible toilet."]
            </p>
			<p>
                @Localizer["Xu Hui (story next page) says, “It’s so nice! Beautiful! Clean, comfortable and warm.”"]
            </p>
            <p style="margin-bottom:0px">
                <b>@Localizer["We are so thankful for your amazing support – including gifts doubled by our recent matching grant – to provide the essentials of life and to invite our guests to start a whole new life here at the Renewal Center."]</b>
            </p>

        </div>
    </div>
    <hr style="border-top:2px solid black" />
    <div class="row news">
        <div class="col-md-6">
            <p class="mb4 clear" id="MobileHeading1">
                <h2><b>@Localizer["A warmer welcome means brighter hope"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["Your gifts offer an alternative to the cold and dangerous streets"]</div>
            </p>
            <p class="mb4 clear">
                @Localizer["Cold winter nights make winter celebrations feel that much warmer, but the food and friendship many take for granted are painfully out of reach for people who are struggling to survive on the streets."]
            </p>
            <p>
                @Localizer["Your help makes a huge difference in their lives. One example is how recent renovations to Renewal’s drop-in center actually make life better for people, including older men like Xu Hui, who has nowhere else to turn."]
            </p>
            <blockquote>
                @Localizer["It’s so nice! Beautiful! Clean, comfortable and warm."]<br>
            </blockquote>
            <p>
                @Localizer["Xu Hui is 65 and sometimes feels he is in danger. During the day he works for pennies giving people directions at the Shanghai South Railway Station, but he is also usually there at night when the platforms fall quiet and people like him without a home search for a safe place to sleep or spend a wakeful night."]
            </p>
            <p>
                @Localizer["When he sees the renovations made possible through your support, Xu Hui’s first response is gratitude for your amazing kindness. Gifts that were doubled by our recent matching campaign were especially helpful, but we are now seeking support towards winter clothing and cold weather meals."]
            </p>
            <p>
                @Localizer["Xu Hui is unavoidably separated from his beloved wife and daughter in Jiangsu Province. While hopes for a reunion, he helps others – and has volunteered to move furniture and clean areas in preparation for our renovations."]
            </p>
			
			<p>
                @Localizer["He says, “Here, you can get more than just clothes or a quilt. You can do laundry, take a shower, have a hot meal, and find a winter coat. You even get a red envelope at the Spring Festival, which means a year of good luck.”"]
            </p>

            <p>
                <b>@Localizer["It’s wonderful to know people like Xu Hui who feel lucky to have your support. Thank you so much for your past generosity and for any gift you can send today towards our Christmas meals and celebrations!"]</b>
            </p>
<!--
            <div class="red-border">
                <span class="blockquote-winter">@Localizer["A hot meal and shower costs 15 RMB ($2.30). Add a day’s job training for a total of 60 RMB ($9.20)."]</span>
                <br /><br />
                <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift for meals and training"]<i class="arrow right-arrow"></i></a>
                <div style="margin-bottom:15px;"></div>
            </div>
-->
        </div>
        <div class="col-md-6">
            <div id="MobileScreenImg">
                <img class="img-fluid story-img" src="~/images/news/issue17/story-2.jpg">
                <figcaption id="imagecaption1" style="padding:10px 0px 0px 0px" class="figure-caption caption chinese mb4 clear">@Localizer["Xu Hui helps out as he shares in the food, warmth and safety from the streets."]</figcaption>
            </div>
        </div>
    </div>
</div>
