@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    #btnDripData {
        border: 2px solid white !important;
    }

    @@media only screen and (max-width : 540px) {
        .MobileScreen {
            margin-bottom: 0px !important;
        }
    }
</style>
<div class="container news-container">
    <!--<div class="row flex-sm-row-reverse">-->
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div id="story-2">
                <img class="img-fluid story-img" src="~/images/news/issue16/story-2.jpg">
                <figcaption class="figure-caption caption chinese mb4 clear MobileScreen" style="margin-bottom:250px">@Localizer["Your support for the Renewal Center offers hope to people who can't hold on much longer outdoors"]</figcaption>
                <p class="mb4 clear">
                    <h2><b>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</b></h2>
                </p>
                <p class="mb4 clear">
                    @Localizer["we can't do it without you. The Renewal center relies on donations to change the lives ofhomeless people in shanghai.Your gifts provide basic support, meals, friendship and warmth. More than that, you also oeter safe, temporary accommodation, career training — and help getting an essential national identity card, a satisfy job and a paramanent home"]
                </p>
                <p>
                    @Localizer["This is our busiest time ofyear. Dozens more homeless people are coming in from the cold weather aslcing for something to eat as wdl as coats, hats, gloves, other warm winter clothing."]
                </p>
                <p>
                    @Localizer["Most are using are other trontline services like our hot showers and washing maehmes — and are learning about our residential training program for people who want to move on and ﬁnd a full-time job."]
                </p>
                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["Your gift will help the homeless hit by Covid-"]</span>
                    <br /><br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift to meets basic needs"]<i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>
            </div>
            <!--<div class="hide-small">
                <h6 class="sub-menu-h6">@Localizer["In this issue of Re:news"]</h6>

                <a class="sub-menu-a styled-link" href="#story-2">
                    <img class="img-fluid" src="~/images/news/issue16/story-2.jpg">
                    @Localizer["You were there when he needed a second chance"]
                </a>
                <p class="excerpt">@Localizer["Luo Yu dropped out of job training a year ago, but we’re glad to welcome him back"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue15/story-3.jpg">
                    @Localizer["A story of desperation and hope"]
                </a>
                <p class="excerpt">@Localizer["Tao Dezheng had no choice but to leave his family and search for work"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue15/story-4.jpg">
                    @Localizer["His only escape from the cold"]
                </a>
                <p class="excerpt">@Localizer["You can help the homeless hiding in plain sight"]</p><br>

                <div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>

            </div>-->
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div id="story-1">
                <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
                <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts can transform live in shangai"]</h4>
                <p style="float:left;font-style:italic">@Localizer["issue 16"]</p>
                <p style="float:right;font-style:italic">@Localizer["spring 2021"]</p>
                <p class="clear">
                    <h2><b>@Localizer["Your support helps displaced people gain employement, stability and a permanent home"]</b></h2>
                </p>
                @*<div class="news-subheader mb-4">@Localizer["People come for a hot meal and learn about our job training program"]</div>*@


                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->
                <p class="mb4 clear">

                    @Localizer["we can't do it without you. The Renewal center relies on donations to change the lives ofhomeless people in shanghai.Your gifts provide basic support, meals, friendship and warmth. More than that, you also oeter safe, temporary accommodation, career training — and help getting an essential national identity card, a satisfy job and a paramanent home"]
                </p>
                <p>
                    @Localizer["This is our busiest time of year. Dozens more homeless people are coming in from the cold weather aslcing for something to eat as wdl as coats, hats, gloves, other warm winter clothing."]
                </p>
                <p>
                    @Localizer["Most are using are other front line services like our hot showers and washing maehmes — and are learning about our residential training program for people who want to move on and ﬁnd a full-time job."]
                </p>
                <img class="img-fluid story-img" src="~/images/news/issue16/story-1.jpg">
                <figcaption class="figure-caption caption chinese" style="float:left">@Localizer["Your support for the Renewal Center offers hope to people who can't hold on much longer outdoors"]</figcaption>

                <!--<blockquote>
                    @Localizer["Because we serve meals every day, can you help provide more essential food this spring? It will definitely attract more people into our training program."]<br>
                </blockquote>-->

            </div>
            <!--<div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">@Localizer["In this issue of Re:news"]</h6>
                <a class="sub-menu-a styled-link" href="#story-2">@Localizer["You were there when he needed a second chance"]</a>
                <p class="excerpt">@Localizer["Luo Yu dropped out of job training a year ago, but we’re glad to welcome him back"]</p>
            </div>-->
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <!--<div id="story-X">
                <h3>@Localizer["His only escape from the cold"]</h3>
                <div class="news-subheader mb-4">@Localizer["You can help the homeless hiding in plain sight"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue15/story-4.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["The Renewal Center gives Yan Shipin, 45, the confidence to look for a job."]</figcaption>
                <p>
                <p class="mb4 clear">
                    @Localizer["That man sleeping alone in the airport concourse – is he waiting for a flight? You might be surprised to find that not only does he not have a ticket, he doesn’t have a passport, a wallet or even a few coins buy his next meal."]
                </p>
                <p>
                    @Localizer["It happened to Yan Shipin, 45. He drops into the Renewal Center for the occasional hot meal, but also relies on the showers and clothing exchange to stay presentable enough to look for a job. In the meantime, he sleeps in the airport for safety and warmth – and because there’s less of a chance he’ll be told to move on."]
                </p>
                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["Your gift will help the homeless hit by Covid-19."]</span>
                    <br /><br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift to meet basic needs"]<i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>
                <p>
                    @Localizer["Yan used to be a part-time attendant in the public baths, but since they closed, he now scrapes together whatever money he can collecting plastic bottles to recycle. Your kindness makes a difference to him – and will have a life-changing impact on the next person in need. As Yan says, “The clean clothes I receive at the Renewal Center give me the dignity to ride on public transport and interview for jobs.”"]
                </p>
            </div>-->

        </div>
    </div>
</div>
