@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    @@media only screen and (max-width : 768px) {
        .row.news {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<div class="container news-container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/issue20/story-1.jpeg">
            <figcaption class="figure-caption caption chinese" style="float:left;text-align:left;padding:10px 0px 0px 0px">@Localizer["She arrived nearly nine weeks premature and was dangerously underweight."]</figcaption>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
            <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts can transform lives in Shanghai"]</h4>
            <p style="float:left;color:gray">@Localizer["Issue 20"]</p>
            <p style="float:right;color:gray">@Localizer["May 2023"]</p>
            <p class="clear">
                <h2><b>@Localizer["Emergency delivery in Renewal’s training center"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["Premature baby and mother rushed to neonatal unit"]</div>
            </p>
            <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->

            <p class="mb4 clear">
                @Localizer["When former trainee Mo Lifang requested emergency shelter for the Spring Festival holiday, we didn’t know she was pregnant and that her baby was already at risk. At 7:30 the next morning she gave birth on the bathroom floor. One resident trainee called an ambulance while another wrapped the baby up and kept her warm."]
			</p>
            <p>
                @Localizer["A neonatal ambulance rushed the mother and child to a local hospital, where staff said the premature baby needed specialist care. Fortunately, that care was not far away. It was then the reality hit that had this baby been born anywhere else in China, she might not have survived. Shanghai is the only city in the country with neonatal ambulance teams."]
            </p>
			<p>
                @Localizer["Within days, mother and baby were back at our residential center where little Yaoxi (meaning “cherished jade”) has thrived. She and Mo Lifang have since returned to her family home accompanied by our staff member Vicky, who is helping wade through the difficult process of finding a caring long-term solution for the baby."]
            </p>
			<p style="margin-bottom:0px">
                <b>@Localizer["Thanks to your kindness and support, Mo Lifang did not have to give birth on the street. Your support always changes lives and often saves them!"]</b>
            </p>
			
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>

        </div>
    </div>
    <hr style="border-top:2px solid black" />
    <div class="row news">
        <div class="col-md-6">
            <p class="mb4 clear" id="MobileHeading1">
                <h2><a name="story-2"><b>@Localizer["Fertile countryside offers room to grow"]</b></a></h2>
                <div class="news-subheader mb-4">@Localizer["Rural project gives trainees more opportunity"]</div>
            </p>
<!--
			<blockquote>
                @Localizer["I have a job and don’t have to wonder where my next meal is coming from."]<br>
            </blockquote>
-->
            <p class="mb4 clear">
                @Localizer["If you want to expand your successful training program for the homeless but are already based in China’s most expensive city, where do you go? It’s a question Renewal began asking itself during lockdown, which felt extremely confining while it became harder and harder to find sufficient space to expand our accommodation and training program."]
            </p>
            <p>
                @Localizer["Today, through the valuable donations of friends like you, Renewal is laying plans for an agriculture-based training program in the southwestern province of Yunnan, where we could offer longer-term accommodation and support for even more homeless guests than we are currently able to help. Our Shanghai training program is highly successful, but with such limited space it works best for those who can find a good job quite quickly. Those who need more time or who aren’t well suited for a fast-paced city job have always been looking for more varied opportunities and room to grow."]
            </p>
			<p>
                @Localizer["Yunnan’s beautiful rural environment includes a remarkable diversity of jobs, where trainees could learn skills and take pride in what they produce. It also brings great potential not just to expand Renewal’s already successful training program but to support the lasting, personal growth of people in need – through opportunities with employers that are already known and respected in the area."]
            </p>
            <p>
                @Localizer["People who first walk into Renewal’s drop-in center in Shanghai are desperate and hungry. When it becomes clear not only that they want to find work, but what kind of work they would find most rewarding, we look forward to telling them that in one of China’s most beautiful rural provinces, your giving offers them a supportive community, accommodation and on-the-job training – where valuable skills can become their path out of homelessness."]
            </p>
            <p>
                <b>@Localizer["We’re so thankful for your already generous support. Today, you could help get this amazing growth opportunity off the ground!"]</b>
            </p>
						
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>
<!--
            <div class="red-border">
                <span class="blockquote-winter">@Localizer["A hot meal and shower costs 15 RMB ($2.30). Add a day’s job training for a total of 60 RMB ($9.20)."]</span>
                <br /><br />
                <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift for meals and training"]<i class="arrow right-arrow"></i></a>
                <div style="margin-bottom:15px;"></div>
            </div>
-->
        </div>
        <div class="col-md-6">
            <div id="MobileScreenImg">
                <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/issue20/story-2.jpeg">
                <figcaption id="imagecaption1" style="padding:10px 0px 0px 0px" class="figure-caption caption chinese mb4 clear">@Localizer["We’ve already taken trainees to Yunnan and considered how to develop a more rural program."]</figcaption>
            </div>
        </div>
    </div>
</div>
