@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@{
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 10"];
    ViewData["IssueDate"] = Localizer["SPRING 2018"];
    ViewData["CoverPhotoCaption"] = Localizer["Read how your gifts are changing lives in the New Year..."];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 150;
    double baseAmountUSD = 22.5;
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">@Localizer["In this issue of Re:news"]</h6>

                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue10/story-3.jpg">
                    @Localizer["You make the difference, year after year"]
                </a>
                <p class="excerpt">@Localizer["Rudy benefits from a decade of caring"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue10/story-4.jpg">
                    @Localizer["Your gifts crown a decade of caring"]
                </a>
                <p class="excerpt">@Localizer["Your generous help has changed lives over an amazing decade of outreach"]</p><br>

                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/news/issue10/story-5.jpg">
                    @Localizer["You gave a hot holiday meal to the lonely and hungry"]
                </a>
                <p class="excerpt">@Localizer["When holidays hurt, the people you help smile with thanks for a traditional meal"]</p><br>

                <!--<div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>@Localizer["'I can get a second chance and change my life...'"]</h3>
                <div class="news-subheader mb-4">@Localizer["You gave Zhong Zhenhuan the skills to return to his home province and start a small business"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue10/story-1.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Once on the streets of Shanghai, Zhong Zhenhuan has opened a restaurant thanks to your kindness."]</figcaption>
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->
                <p class="mb4 clear">
                    <b>@Localizer["It's amazing what your support can do, and rescuing a person from the streets is just the beginning of their transformation."]</b>
                    @Localizer["Your investment in people's lives achieves more than saving them from danger, cold and rain on the streets - you are giving them the chance to make a completely new start in life."]
                    @Localizer["Zhong Zhenhuan was in his forties when he became homeless on the streets of Shanghai, and he thought his life was over because he was too old to try something new. Zhong Zhenhuan noticed that many of the homeless people who come to the Renewal Center are in their twenties and thirties, but now he says, 'If I can get a second chance and change my life in my forties, they can too.'"]
                </p>
                <p>
                    @Localizer["The change in his life has been remarkable, thanks to your outstanding support. Zhong Zhenhuan came to the Renewal Center after being estranged from his family; he had also lost his national ID card meaning he couldn't get a apply for a legitimate job. But he showed a real passion for cooking, testing and improving the recipes for our Fresh Start cafe,"]
                    @Localizer["which not only trained people for valuable work cooking and serving food in Shanghai's many restaurants, it also turned a profit to help cover the costs of training homeless people to lead independent lives."]
                </p>
                <blockquote>
                    @Localizer["The Renewal Center gave me a new identity"]<br><italic>@Localizer["- Zhong Zhenhuan"]</italic>
                </blockquote>
                <p>
                    @Localizer["Today, Zhong Zhenhuan is back in his southern home province of Guangdong, where he has opened a restaurant. The Renewal Center was thrilled to send him off with the gift of an oven we could no longer use - even more so to see how he has put it to good use as a new business owner. And he's now married with a child. Today,"]
                    @Localizer["he is incredibly thankful for your gifts. 'The Renewal Center gave me a new identity through its program and encouraged me to pursue a better life for myself.'"]
                </p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">@Localizer["In this issue of Re:news"]</h6>
                <a class="sub-menu-a styled-link" href="#story-3">@Localizer["You make the difference, year after year"]</a>
                <p class="excerpt">@Localizer["Rudy benefits from a decade of caring"]</p>
                <a class="sub-menu-a styled-link" href="#story-4">@Localizer["Your gifts crown a decade of caring"]</a>
                <p class="excerpt">@Localizer["Your generous help has changed lives over an amazing decade of outreach"]</p>
                <a class="sub-menu-a styled-link" href="#story-5">@Localizer["You gave a hot holiday meal to the lonely and hungry"]</a>
                <p class="excerpt">@Localizer["When holidays hurt, the people you help smile with thanks for a traditional meal"]</p>
            </div>
            <div id="story-2">
                <h2>@Localizer["See the incredible results of your giving"]</h2>
                <img class="img-fluid story-img" src="~/images/news/issue10/story-2.jpg">
                <!--<div class="news-subheader">@Localizer["We are helping the marginalized and forgotten thanks to your support"]</div>-->
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney and Hanson Ye"]</p>-->
                <p>@Localizer["Dear friends,"]</p>
                <p>@Localizer["Here in our first newsletter after both the Western and Chinese New Years, what better time to reflect and thank you for your amazing support over the past 12 months. It's you who change lives, day after day - it simply wouldn't be possible without you."]</p>
                <p>@Localizer["I will also be thrilled to know that you are renewing your support for the Renewal Center, by helping us continue to offer the showers, clean clothes, hot meals, shelter and job training people need to go from sleeping on the streets to finding a good full-time job and moving into a place of their own."]</p>
                <p>@Localizer["Some people think of homelessness as an endless cycle, but it doesn't have to be that way. Again and again, I've seen people move up and out of street life for good. This is all thanks to you. I also want to let you know that through your continued support, plans are afoot to open a new training cafe."]</p>
                <p>@Localizer["We have saved all the kitchen appliances, furnishings and utensils from our former location (it's normal even to strip out electrical cables and lights), so I'm looking forward to telling you more as these plans develop. In the meantime, let me repeat my warmest and sincerest thanks!"]</p>
                <p>@Localizer["Hanson Ye"]<br />@Localizer["Operations Director"]</p>
            </div>
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <div id="story-3">
                <div class="news-subheader">@Localizer["Rudy benefits from a decade of caring"]</div>
                <h2>@Localizer["You make the difference, year after year"]</h2>
                <img class="img-fluid story-img" src="~/images/news/issue10/story-3.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Rudy celebrates the confidence you gave him to make huge strides in life."]</figcaption>
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney"]</p>-->
                <p class="mb4 clear"><b>@Localizer["Rudy first visited the Renewal Center 10 years ago, at the start of a global economic crisis."]</b> @Localizer["There's no telling how many people have faced hard times financially since then. What's clear is that your generous help has changed lives over an amazing decade of highly effective outreach."]</p>
                <p>@Localizer["In 2008, the Renewal Center was just starting out, and at that time, Rudy was one of a group of young men who hung around the train station picking up used tickets off the floor and out of the trash to sell to dishonest businesspeople who include them in their expenses to reduce their tax bill."]</p>
                <p>
                    @Localizer["He watched with interest as most of that group of guys came to the Renewal Center one by one, seeking a way out of that dead-end job. After carefully observing the results in his friends' lives, Rudy rightly concluded that, through your gifts,"]
                    @Localizer["the Renewal Center really did offer him both practical help and the opportunity to lead a much better life than survival on the streets."]
                </p>
                <blockquote>
                    @Localizer["You'll find direction here whenever you need it most."]<br><italic>@Localizer["- Rudy Ran"]</italic>
                </blockquote>
                <p>@Localizer["Once here, Rudy progressed rapidly and soon joined our restaurant partner Element Fresh, who offered him a full-time job. Reflecting back, he says, 'Life on the street is lonely and depressing. Day after day it's the same, and you never know if you'll have the money for your next meal. The Renewal Center is a home away from home. You find direction here whenever you need it most.'"]</p>
                <p>@Localizer["Now ready for a change from restaurant work, Rudy is confident in planning his next move rather than facing life on the streets with no options. His amazing progress is a result of your powerful support. Thank you!"]</p>
            </div>
            <div id="story-4">
                <h2>@Localizer["Your gifts crown a decade of caring"]</h2>
                <img class="img-fluid story-img" src="~/images/news/issue10/story-4.jpg">
                <!--<div class="news-subheader">@Localizer["Our job training program gives people a fresh start"]</div>-->
                <!--<img class="img-fluid story-img" src="~/images/news/issue9/story-4.jpg">-->
                <!--<figcaption class="figure-caption caption chinese">@Localizer["Your gifts have given Yang Qin the confidence to find a job on his own."]</figcaption>-->
                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->
                <p><b>2008</b> - @Localizer["Your kindness in the face of the global financial crisis allows the Renewal Center to open its doors to homeless guests on West Suzhou Road, with just 50 sq. meters (540 sq. ft.) of floorspace."]</p>
                <p><b>2009</b> - @Localizer["Our first resident trainee finds a full-time job."]</p>
                <p><b>2010</b> - @Localizer["Gifts enable the Renewal Center to move to Zhongxing Road and expand, quadrupling our space to 200 sq. meters (2,100 sq. ft.) and greatly increasing our ability to help and train people living on the streets"]</p>
                <p><b>2011</b> - @Localizer["Donor gifts help launch programs to ensure homeless people get medical care and essential national ID cards."]</p>
                <p><b>2012</b> - @Localizer["Your support again enables expansion into rented space on the second floor, doubling our size to 400 sq. meters (4,300 sq. ft.) and assisting the launch of full residency and drop-in services."]</p>
                <p><b>2013</b> - @Localizer["A special women's program is launched to provide a residential program and employment placement."]</p>
                <p><b>2014</b> - @Localizer["Donor investment launches Fresh Start cafe, a self-supporting restaurant that trains residents in cooking, kitchen and serving skills."]</p>
                <p><b>2015</b> - @Localizer["Our seventh year marks a total of 28 men and 4 women completing our training program since its inception."]</p>
                <p><b>2016</b> - @Localizer["Moved to Minhang with a drop-in center separate from the residential training center."]</p>
                <p><b>2017</b> - @Localizer["The new 600 sq. meter (6,450 sq. ft.) space allows the Renewal Center to more than double our opening hours and triple the number of meals we serve to homeless guests."]</p>
                <p><b>2018</b> - @Localizer["Search is underway for a new site for our cafe, which will allow trainees to earn an income while profits are plowed back into outreach."]</p>
            </div>
            <div id="story-5">
                <h2>@Localizer["You gave a hot holiday meal to the lonely and hungry"]</h2>
                <div class="news-subheader">@Localizer["When holidays hurt, the people you help smile with thanks for a traditional meal"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue10/story-5.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["You offered a holiday dinner to those who would otherwise go hungry because they can't go home!"]</figcaption>
                <p class="clear">
                    @Localizer["Imagine facing cold and empty streets on a day everyone you know is with their family, having a traditional holiday meal. Luo Qingyuan says, 'Being in Shanghai at Spring Festival is like being in a temple, because everyone has left...'"]
                    @Localizer["He means that a hush falls over the normally bustling city, because businesses close and people return to their home towns to spend several days with family."]
                </p>

                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["Please give hot meals and hope to a homeless person and put them on the path to new life."]</span>
                    <!-- @@if (currency.Name.Contains("zh"))
        {
            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountCNY.ToString("C", currency)@Localizer["."]</span>
        }
        else
        {
            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountUSD.ToString("C", currency)@Localizer["."]</span>
        }-->
                    <br />
                    <br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift today"] <i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>


                <p>@Localizer["But it doesn’t feel peaceful or holy. He says, “It’s painful to be away from family for the holiday.” But thanks to your gifts, “The Renewal Center feels like a family. I came here because it's warm and there are lots of people.” When the shops are open, Luo Qingyuan makes deliveries for a business when they need him. At night, he sleeps outside their front door."]</p>
                <p>@Localizer["Like you, our thoughts are with him. Your gifts have already given him basic help. “Being able to change clothes at the Renewal Center is the most important thing to me, because it preserves my dignity.” One day Luo Qunyuan might join our residential program, but until then, we'll keep inviting him in for showers, clothes and meals."]</p>
                <p>@Localizer["That includes our Spring Festival celebration. Thanks to you, the Renewal Center stayed open when other business close, knowing that the homeless feel the lack of warmth, food and friendship now more than ever. Our dedicated volunteers made an amazing 7,000 dumplings for our guests. These are the traditional dish for dipping in hot sauce or dark vinegar. This year was special because one volunteer made an exceptionally hot Sichuan style sauce from scratch, on the spot."]</p>
                <p>@Localizer["Guests from the province were overjoyed, including Lua Quingyuan, who hails from Chongqing, definitely a capital of Sichuan cuisine. Although he feels ashamed to return there, he was so thankful to have a hot, traditional meal in his home away from home."]</p>


            </div>
        </div>
    </div>
</div>