@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    @@media only screen and (max-width : 768px) {
        .row.news {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<div class="container news-container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/Issue22/story-1.jpeg">
            <figcaption class="figure-caption caption chinese" style="float:left;text-align:left;padding:10px 0px 0px 0px">@Localizer["Now with contact lenses and literacy training, Ma Long can soon qualify for a more satisfying job."]</figcaption>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
            <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts are transforming lives in Shanghai"]</h4>
            <p style="float:left;color:gray">@Localizer["Issue 22"]</p>
            <p style="float:right;color:gray">@Localizer["Spring 2024"]</p>
            <p class="clear">
                <h2><b>@Localizer["Homecoming for a longtime friend"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["Ma Long first visited the new drop-in center back in 2008"]</div>
            </p>
            <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->

            <blockquote>
                @Localizer["I feel like I’m home."]<br>
            </blockquote>
			
			<p class="mb4 clear">
                @Localizer["Our latest arrival at the Yunnan Career Hub is an old friend. Ma Long recently returned to the Renewal Center in Shanghai having lost his job as a security guard. His employers discovered that he couldn’t read or write, which is now a requirement almost everywhere you go. Along with his very poor eyesight, Ma Long faces huge obstacles in gaining long-term employment and stability."]
			</p>
            <p>
                @Localizer["Bound to struggle from the day he was born, Ma Long lost his father when he was just a baby – and his mother, after giving birth at home, abandoned him. This is part of the reason he never learned to read or write or was even issued a hukou (national identity card)."]
            </p>
			<p>
                @Localizer["But since reconnecting with Renewal, all that has changed. Not only does Ma Long now have a much-needed hukou thanks to support from friends like you, we’ve helped him get corrective lenses, and he’s finally in literacy training. He’s also learning to cook and regularly prepares full meals for our communal suppers."]
            </p>
			<p>
                @Localizer["Ma Long works incredibly hard, but also needs longer-term support. That's why we’re glad your gifts are giving him a place where he can rebuild his life and see a brighter future!"]
            </p>
<!--
			<p style="margin-bottom:0px">
                <b>@Localizer["We are grateful for you. Every gift is crucial as we strive to keep the drop-in center open, and work to start agricultural training for people who won’t thrive in high-pressure city jobs."]</b>
            </p>
-->
			
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>

        </div>
    </div>
    <hr style="border-top:2px solid black" />
    <div class="row news">
        <div class="col-md-6">
            <p class="mb4 clear" id="MobileHeading1">
                <h2><a name="story-2"><b>@Localizer["The same, but different ..."]</b></a></h2>
                <div class="news-subheader mb-4">@Localizer["Women are finding friendship, help and support"]</div>
            </p>
			<p style="float:right;color:gray">@Localizer["By Vicky Wang Renewal’s head of women’s services."]</p>
<!--
			<blockquote>
                @Localizer["I have a job and don’t have to wonder where my next meal is coming from."]<br>
            </blockquote>
-->
            <p class="mb4 clear">
                @Localizer["Chairman Mao once said, “Women hold up half the sky.” But a homeless woman in one of the world’s largest cities is bound to feel the sky is falling on her. While men find safety in numbers and often put on a brave face, women on the streets feel vulnerable and terrified. Constantly looking out for thieves and attackers can cause huge emotional strain."]
            </p>
            <p>
                @Localizer["All this means that the women who visit Renewal’s drop-in center during the hours set aside for them every Thursday need to see a woman greeting them. They also come hoping for a little more privacy, greater security, a listening ear and just a bit more time – even if they only need a few more minutes to pick out a clean new shirt or coat."]
            </p>
			<p>
                @Localizer["I feel glad – even privileged – to “hold up half the sky” for these women who feel beaten down. The suffering they’ve already endured inspires me to make sure each one gets the care and attention she needs. I might be meeting strangers and newcomers, but this place feels like home – so many people come here to give and receive love."]
            </p>
            <p>
                @Localizer["Most women only need a hot meal, a shower, or a new item or two of clothing to replace ones that are old and worn out. But as you may have heard, one woman gave birth here. Where would that mother and baby be today without the caring support another only a woman can give? "]
            </p>
			<p>
                @Localizer["Although lots has changed since I started helping at the Renewal Center nearly 15 years ago, I still really enjoy being a sister to the men who come here for help. It’s also amazing to share the load with Jimmy, Hanson and the team of guys who work tirelessly to make sure your support changes women’s lives!"]
            </p>
						
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>
<!--
            <div class="red-border">
                <span class="blockquote-winter">@Localizer["A hot meal and shower costs 15 RMB ($2.30). Add a day’s job training for a total of 60 RMB ($9.20)."]</span>
                <br /><br />
                <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift for meals and training"]<i class="arrow right-arrow"></i></a>
                <div style="margin-bottom:15px;"></div>
            </div>
-->
        </div>
        <div class="col-md-6">
            <div id="MobileScreenImg">
                <img class="img-fluid story-img" src="https://www.renewal365.org/images/news/Issue22/story-2.jpeg">
                <figcaption id="imagecaption1" style="padding:10px 0px 0px 0px" class="figure-caption caption chinese mb4 clear">@Localizer["Because Renewal can’t offer a separate space for women, we give them a separate day."]</figcaption>
            </div>
        </div>
    </div>
</div>
