@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 16"];
    ViewData["IssueStyle"] = "issue-15";
    ViewData["IssueDate"] = Localizer["SPRING 2021"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    //double baseAmountCNY = 15;
    //double baseAmountUSD = 2.19;
}
<style>
    @@media only screen and (max-width : 768px) {
        .row.news {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<div class="container news-container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid story-img" src="~/images/news/issue17/story-1.jpg">
            <figcaption class="figure-caption caption chinese" style="float:left;text-align:left;padding:10px 0px 0px 0px">@Localizer["Your help gave Zhu Fude clean clothes and hot meals."]</figcaption>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" style="color: #d11241 !important;font-size:70px"><b>@Localizer["Re:news"]</b></h2>
            <h4 class="text-danger" style="color: #d11241 !important;">@Localizer["How your gifts can transform lives in Shanghai"]</h4>
            <p style="float:left;color:gray">@Localizer["Issue 18"]</p>
            <p style="float:right;color:gray">@Localizer["Spring 2022"]</p>
            <p class="clear">
                <h2><b>@Localizer["Homeless young people are finding hope here"]</b></h2>
                <div class="news-subheader mb-4">@Localizer["He quit school to find work, but has never had a home or steady job"]</div>
            </p>
            <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>-->

            <p class="mb4 clear">
                @Localizer["More and more, Millennials are seeking help at the Renewal Center, and some like Chu Fude have already spent more than a decade feeling out of place in the world. Chu Fude grew up 400 miles away in the coal mining town of Zaozhuang where he dropped out of school to earn money. Now that he is 30 years old, the kind of job he would like to have usually goes to people with a high school education or better."]
            <p>
                @Localizer["He has found temporary work here in Shanghai where, he says, “I can earn more for an 8-hour shift than I used to earn in 12.” But Chu Fude doesn’t earn enough consistently to afford a home. He is thankful for your support and feels ready to land a steady job – and his dreams of getting married and starting a family finally seem possible. He says, “I used to think there was no place for me in the world, but friends here have given me hope that I can actually be somebody.”"]
            </p>
			<p style="margin-bottom:0px">
                <b>@Localizer["Your amazing support really does make dreams possible. The people you reach are running out of options, but your kindness is giving them hope."]</b>
            </p>
			<p style="margin-bottom:0px">
                <b>@Localizer["Just 120 RMB / US $18.90 gives hope, a hot meal and emergency help to 12 homeless people."]</b>
            </p>
			
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>

        </div>
    </div>
    <hr style="border-top:2px solid black" />
    <div class="row news">
        <div class="col-md-6">
            <p class="mb4 clear" id="MobileHeading1">
                <h2><a name="story-2"><b>@Localizer["More space to change lives, thanks to you"]</b></a></h2>
                <div class="news-subheader mb-4">@Localizer["Our bright, modern space gives people a better chance of renewal"]</div>
            </p>
            <p class="mb4 clear">
                @Localizer["Spring is finally here, and the season of renewal seems like a good time to share what’s been happening over the past few months and consider what the future holds."]
            </p>
            <p>
                @Localizer["Back in December, we completed some exciting building renovations that generous supporters helped to fund. On the surface, you’ll see a bigger, cleaner, brighter space with updates to the kitchen, laundry room, shower, and reception and common areas."]
            </p>
<!--
            <blockquote>
                @Localizer["It’s so nice! Beautiful! Clean, comfortable and warm."]<br>
            </blockquote>
            <p>
-->
                @Localizer["But delve deeper, and a couple of important things are happening..."]
            </p>
            <p>
                @Localizer["First, more people are coming in for support, and just the type of person we can help. Before, the space was functional but fairly cramped and uninviting. Today it is not only more spacious but so attractive that people are eager to be here. And there’s finally enough space to offer more services aimed at helping people rebuild their lives."]
            </p>
            <p>
                @Localizer["Second, in the near future, we could extend our support to reach more of the people who are very close to launching a career, but just need residential training, education and coaching – all aimed at helping them find stability and full-time jobs."]
            </p>
			
			<p>
                @Localizer["One thing you should know is how glad I am that friends like you give generously. It’s vitally important to have ongoing support, but you are helping to meet our needs as they arise. I was especially grateful to see that donations toward our recent Spring Festival were on a similar level to the response for our matching grant appeal back in October."]
            </p>

            <p>
                <b>@Localizer["It all reminds me that the wonderful work of the Renewal Center would quite simply never happen without friends like you. Thank you!"]</b>
            </p>
			
			<p>
                <b>@Localizer["Your gift of 350 RMB / US $55.12 provides a week’s accommodation and job training for one person."]</b>
            </p>
			
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
			</div>
<!--
            <div class="red-border">
                <span class="blockquote-winter">@Localizer["A hot meal and shower costs 15 RMB ($2.30). Add a day’s job training for a total of 60 RMB ($9.20)."]</span>
                <br /><br />
                <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift for meals and training"]<i class="arrow right-arrow"></i></a>
                <div style="margin-bottom:15px;"></div>
            </div>
-->
        </div>
        <div class="col-md-6">
            <div id="MobileScreenImg">
                <img class="img-fluid story-img" src="~/images/news/issue17/story-2.jpg">
                <figcaption id="imagecaption1" style="padding:10px 0px 0px 0px" class="figure-caption caption chinese mb4 clear">@Localizer["Crowds filled our renovated space as Spring Festival meals were served."]</figcaption>
            </div>
        </div>
    </div>
</div>
