@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "News";
    ViewData["Title"] = Localizer["News"];
    ViewData["IssueNo"] = Localizer["ISSUE 15"];
    ViewData["IssueStyle"] = "issue-14";
    ViewData["IssueDate"] = Localizer["AUTUMN 2020"];
    ViewData["CoverPhotoCaption"] = Localizer["Your gift will provide his only escape from the cold."];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 15;
    double baseAmountUSD = 2.19;
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">@Localizer["In this issue of Re:news"]</h6>

                <a class="sub-menu-a styled-link" href="#story-2">
                    <img class="img-fluid" src="~/images/news/issue14/story-2.jpg">
                    @Localizer["Coronavirus hits the homeless"]
                </a>
                <p class="excerpt">@Localizer["Your help can rush food and support to people on the streets."]</p><br>

                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/news/issue14/story-3.jpg">
                    @Localizer["Biggest ever Spring Festival followed by closure"]
                </a>
                <p class="excerpt">@Localizer["A record number joined our Spring Festival but we need your help for street sleepers."]</p><br>

                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/news/issue14/story-4.jpg">
                    @Localizer["How you saved a grateful survivor"]
                </a>
                <p class="excerpt">@Localizer["Your gifts can get Lin Tianye inside, clean, warm and fed, when we can."]</p><br>

                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/news/issue14/story-5.jpg">
                    @Localizer["You are the answer to the coronavirus crisis"]
                </a>
                <p class="excerpt">@Localizer["The virus is scary, but you can save people facing the worst of it."]</p><br>

                <!--<div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>-->

            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>@Localizer["Your gifts reach the homeless hit by Covid-19"]</h3>
                <div class="news-subheader mb-4">@Localizer["Lockdown took their jobs and homes, but your help gives them hope"]</div>
                <img class="img-fluid story-img" src="~/images/news/issue14/story-1.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Clean clothes offer a better chance of finding a job."]</figcaption>

                <p class="mb4 clear" style="color: #777777;">@Localizer["By Hanson Ye"]</p>
                <p class="mb4 clear">
                    @Localizer["On the surface, life is returning to normal here in China, but your support is providing essential help to those who are still struggling to survive in the wake of the recent lockdown. Temporary jobs in Shanghai are extremely hard to find, and new health protocols mean people can no longer use the hand basin in a public lavatory to bathe or wash their clothes. The result is a spike in demand for the services here at Renewal that are funded by your kind gifts."]
                </p>
                <p>
                    @Localizer["Zhang Ming is grateful just for access to a washing machine, showers and our clothing exchange. “Walking around in dirty clothes makes you feel inferior,” he says. “Your confidence hits bottom and it’s impossible to find job.” It all makes life on the streets even harder than before. “For me, the pandemic has meant that I can’t make a living or afford to pay rent, so sleeping on the streets is my only option right now.”"]
                </p>
                <blockquote>
                    @Localizer["Walking around in dirty clothes makes you feel inferior."]<br>
                </blockquote>
                <p>
                    @Localizer["The good news for Zhang and many others is your amazing support. Your gifts are a lifeline to people who have no other help to meet their basic needs, so we and the people you reach every day are deeply grateful for you and the gifts you give. We are also very aware how much we depend on your financial generosity – and donations like clean, wearable, used or new clothes – to give people a better chance of finding work and making a new start in life."]
                </p>
                <p>
                    @Localizer["Zhang Ming has a larger frame than most, so if you are wondering as some of our supporters do whether we can use large size clothes, the answer is “Yes!” In fact, whatever help you can send in this time of continued crisis for homeless people will make a huge difference – and be hugely appreciated."]
                </p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">@Localizer["In this issue of Re:news"]</h6>
                <a class="sub-menu-a styled-link" href="#story-2">@Localizer["Coronavirus hits the homeless"]</a>
                <p class="excerpt">@Localizer["Your help can rush food and support to people on the streets."]</p>
                <a class="sub-menu-a styled-link" href="#story-3">@Localizer["Biggest ever Spring Festival followed by closure"]</a>
                <p class="excerpt">@Localizer["A record number joined our Spring Festival but we need your help for street sleepers."]</p>
                <a class="sub-menu-a styled-link" href="#story-4">@Localizer["How you saved a grateful survivor"]</a>
                <p class="excerpt">@Localizer["Your gifts can get Lin Tianye inside, clean, warm and fed, when we can."]</p>
                <a class="sub-menu-a styled-link" href="#story-5">@Localizer["You are the answer to the coronavirus crisis"]</a>
                <p class="excerpt">@Localizer["The virus is scary, but you can save people facing the worst of it."]</p>
            </div>
            <div id="story-2">
                <h2>@Localizer["I see the lasting impact of your kindness"]</h2>
                <!--<div class="news-subheader mb-4">@Localizer["No day labor and no income from recycling means no money, and no food."]</div>-->
                <img class="img-fluid story-img" src="~/images/news/issue14/story-2.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Your help can rush food and support to people on the streets."]</figcaption>

                <p class="mb4 clear" style="color: #777777;">@Localizer["Hanson Ye and Jimmy McWhinney"]</p>
                <p class="mb4 clear">
                    @Localizer["I first want to say a very big “thank you” for your support during the Covid-19 crisis – and you might have been able to send a gift to be doubled during our recent matching grant campaign. The pandemic is far from over, and millions of people are suffering an economic impact, which makes me all the more grateful. Your help has never been so important."]
                </p>
                <p>
                    @Localizer["During the national holiday last month, several of our graduates returned to the Renewal Center because they consider it their home. Zhou Yushuai told us he has made some good friends at his factory job in Ningbo. One of our other guys reminded us of the importance of family, saying, “Every holiday, it’s loved ones I miss the most.”"]
                </p>
                <p>
                    @Localizer["I hope that you and your loved ones are safe and well at this time, and thank you again for your kindness during this global crisis."]
                </p>
                <p>
                    <b>@Localizer["Current Street Action"]</b>
                </p>
                <p>
                    @Localizer["We are taking your gifts to the streets with parcels of food, milk, and disposable masks. It takes more time and more money. Our typical communal meals are much cheaper, but because the drop in center is closed, they've been banned for now."]
                </p>
                <p>
                    <b>@Localizer["The Human Impact"]</b>
                </p>
                <p>
                    @Localizer["People are suffering, and the dirt from the streets is humiliating. Our drop-in center sadly must remain closed for now, giving people no access to a shower, laundry or a clean change of clothes."]
                </p>
                <p>
                    @Localizer["If this crisis continues, we can explore taking fresh clothing onto the streets. At night, there is a chance people might be able to change clothes with dignity."]
                </p>
                <p>
                    <b>@Localizer["What You Can Do"]</b>
                </p>
                <p>
                    @Localizer["There's no telling how long the crisis will last, but you can help with a gift for disposable masks, packaged food, and nutritious drinks like milk for people who are stuck outside. The situation is now serious."]
                </p>
                <p>
                    @Localizer["Few people are infected. But the closed businesses and empty streets are hurting the homeless. People who were already on the fringes of society are now pushed to the edge of survival. More and more people are sleeping in parks and in doorways. They really have no other choice."]
                </p>
                <p>
                    <b>@Localizer["Renewal's drop-in center will reopen the day we can. Until then, we need help to reach people who are stuck outdoors."]</b>
                </p>
            </div>
            <!--<div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="sub-menu-a styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>-->
            <div id="story-3">
                <!--<div class="news-subheader">@Localizer[""]</div>-->
                <h2>@Localizer["Biggest ever Spring Festival followed by closure"]</h2>
                <div class="news-subheader mb-4">@Localizer["A record number joined our Spring Festival but we need your help for street sleepers."]</div>
                <img class="img-fluid story-img" src="~/images/news/issue14/story-3.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Spring Festival was our last public gathering this year. Most people in this picture are now stuck on the streets and relying on our support for food, water and milk."]</figcaption>

                <!--<p class="mb4 clear" style="color: #777777;">@Localizer["By Jimmy McWhinney"]</p>-->
                <p class="mb4 clear">

                    @Localizer["We tested all 150 people who came to the Spring Festival dinner with an infrared thermometer and nobody showed fever or signs of coronavirus infection. Yet, on the very next day, we were forced to close to prevent large gatherings, and everyone outdoors was required to wear a mask."]
                </p>
                <blockquote>
                    @Localizer["Coronavirus put an end to gatherings like Spring Festival. We need your help to reach people who are now stuck outdoors."]<br>
                </blockquote>
                <p>
                    @Localizer["But your help can make a difference. You gave a hot and hearty meal to our biggest crowd ever, and now we are working to reach many of the same people who are forced to sleep on the street. Your kind support is already housing as many people as we have space for on our residential training program."]
                </p>
                <p>
                    @Localizer["If you can, come and see the results of your help. You will be amazed! Even if you can't pay a visit, thank you again for your support toward our biggest and perhaps best ever Spring Festival meal."]
                </p>
                <p>
                    <b>@Localizer["Please send a gift today to help those still stuck out in the cold."]</b>
                </p>
            </div>
            <div id="story-4">

                <h2>@Localizer["How you saved a grateful survivor"]</h2>
                <div class="news-subheader mb-4">@Localizer["Your gifts can get Lin Tianye inside, clean, warm and fed, when we can."]</div>

                <img class="img-fluid story-img" src="~/images/news/issue14/story-4.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["Your next gift could help Lin, 76, who is especially vulnerable to the virus and cold weather."]</figcaption>
                <p class="mb4 clear">
                    @Localizer["You've probably heard that the coronavirus is worse for older people: on 6 March it was reported in the media that for every year above the age of 50 a person is more likely to die from the infection, and men are more vulnerable."]
                </p>
                <p>
                    @Localizer["Thankfully, your help has kept Lin Tianye warm and healthy. Born near the end of World War II in Taiwan, he was displaced by the war and moved to mainland China. He later lost his investment in a failed business, and now has no family at all."]
                </p>
                <blockquote>
                    @Localizer["Your gifts give people what they need, when they need it."]<br>
                </blockquote>
                <p>
                    @Localizer["Try to imagine what it's like to survive on the streets at 76 years old, and you'll have an idea what Lin's life is like. Hanson is constantly in touch with Lin, ensuring that he gets whatever help he needs, as quickly as we can deliver it."]
                </p>
                <p>
                    <b>@Localizer["Thank you for helping Lin! Your next gift will reach another vulnerable person crisis."]</b>
                </p>
            </div>
            <div id="story-5">
                <h3>@Localizer["You are the answer to the coronavirus crisis"]</h3>
                <div class="news-subheader mb-4">@Localizer["The virus is scary, but you can save people facing the worst of it."]</div>
                <img class="img-fluid story-img" src="~/images/news/issue14/story-5.jpg">
                <figcaption class="figure-caption caption chinese">@Localizer["The Renewal kitchen is still cooking nutritious meals like egg fried rice with mushrooms. With your help, we are taking bowls of hearty portions to hungry people on the streets."]</figcaption>
                <p>
                <p class="mb4 clear">
                    @Localizer["If you're asking, 'What can I do?' The answer is to help the Renewal Center respond to the coronavirus. We are close to the crisis and your gift will reach the poorest and most helpless people on the streets, with healthy food, milk, water, and masks that everyone is required to wear."]
                </p>
                <p>
                    <b>@Localizer["They are running out of hope. Shanghai's street sleepers urgently need help."]</b>
                </p>
                <div class="red-border">
                    <span class="blockquote-winter">@Localizer["The crisis isn't over. Please help victims of the coronavirus scare who are living on the streets."]</span>
                    @*@if (currency.Name.Contains("zh"))
                        {
                            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountCNY.ToString("C", currency)</span>
                        }
                        else
                        {
                            <span class="blockquote-winter" style="padding-left: 0px">@baseAmountUSD.ToString("C", currency)</span>
                        }*@
                    <br /><br />
                    <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["To help the homeless hit by coronavirus"]<i class="arrow right-arrow"></i></a>
                    <div style="margin-bottom:15px;"></div>
                </div>

            </div>

        </div>
    </div>
