@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-laundry.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption">@Localizer["The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2 class="mt-4">@Localizer["For a short time your gift will be doubled"]</h2>
        <p>@Localizer["The Renewal Center board of trustees will match every dollar of your gift, up to a grand total of $38, 800. <b>Please send your gift to be doubled today.</b> Every $5 of your gift will become $10! Every $20 of your gift will become $40!"]</p>
        <p>@Localizer["This match must end at midnight on December 31st so please send your gift now. All unmatched funds will be returned to the board.So it's urgent that we match every single dollar! The Renewal Center's heating and hot water bills shoot up at this time of year.In addition, more and more people come to us seeking shelter from the cold, wet streets."]</p>

        <div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary" asp-controller="Donate" asp-action="Campaign1708">@Localizer["DONATE WITH ALIPAY NOW"] <i class="arrow right-arrow"></i></a>
        </div>
    </div>
</div>