@{
    ViewData["Title"] = Localizer["Unsubscribe"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string email = ViewBag.email;
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="container">
    <h4>@Localizer["Just one more step to unsubscribe..."]</h4>
    <h2>@email</h2>
    <p>@Localizer["Use the button below to unsubscribe from all mailings."]</p>
</div>

<div class="container">
    <form>
        <fieldset>
            <div class="form-group row">
                <div class="col-md-12">
                    <!--<button type="button" id="btnUnsubscribe" class="btn btn-secondary" onclick="unsubscribeUser()">@("Unsubscribe " + email + " from all mailings")</button>-->
                    <button type="button" id="btnUnsubscribe" class="btn btn-secondary has-spinner" onclick="unsubscribeUser()">@Localizer["Unsubscribe from all mailings"]</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    function unsubscribeUser() {
        var btn = $('#btnUnsubscribe');
        $(btn).buttonLoader('start',"@Localizer["Please wait"]");
        $.ajax({
            url: "/Contact/Unsubscribe",
            data: {
                "email": "@email"
            },
            type: "post",
            datatype: "application/json",
            success: function (result) {
                if (result.status = "1") {
                    $('#message').show();
                    $('#message').text(result.data);
                    setInterval(function () {
                        $(btn).buttonLoader('stop');
                        window.location.href = "/contact/thankyou?id=1";
                    }, 1000);
                }
            }
        });
    };
</script>