@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@{
    ViewData["Title"] = Localizer["Preferences"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string email = ViewBag.email;
    string salutation = ViewBag.salutation;
    string lang = CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName;
    string newemail = ViewBag.email;
}

<link href="~/css/buttonLoader.css" rel="stylesheet" />
<div class="container">
    <h4>@Localizer["Update Renewal communication preferences for..."]</h4>
    <h3>@email</h3>
    <!--<p>@Localizer["Select your communications preferences and submit to confirm."]</p>-->
</div>

<div class="container m-t-30">
    <form>
        <fieldset>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>@Localizer["Change communications email:"]</label>
                    <input type="text" id="EmailId" class="form-control" value="@newemail" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>@Localizer["Salutation/first name:"]</label>
                    <input type="text" id="Salutation" class="form-control" value="@salutation" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label>@Localizer["Language preference:"]</label><br />
                    <input type="radio" id="rbEnglish" name="language" value="en" /> English<br />
                    <input type="radio" id="rbChinese" name="language" value="zh" /> 简体中文
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" id="btnChangeCommunication" class="btn btn-secondary has-spinner">@Localizer["Submit"]</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lang = "@lang";
        $("input[name=language][value=" + lang + "]").attr('checked', 'checked');

        $('.has-spinner').click(function () {
            var btn = $(this);
            $(btn).buttonLoader('start');
            var selValue = $('input[name=language]:checked').val();
            var newEmail = $("#EmailId").val();
            var Salutation = $("#Salutation").val();
            $.ajax({
                url: "/Contact/ChangePreference",
                data: {
                    "email": "@email",
                    "language": selValue,
                    "Salutation": Salutation,
                    "newEmail": newEmail
                },
                type: "post",
                datatype: "application/json",
                success: function (result) {
                    if (result.status = "1") {
                        $('#message').show();
                        $('#message').text(result.data);
                        $(btn).buttonLoader('stop');
                        window.location.href = "/contact/thankyou?id=2";
                    }
                }
            });
        });
    });

</script>