@model RenewalWebsite.Models.ViewModels.UserPreferenceViewModel
@using RenewalWebsite.Services
@inject ICurrencyService CurrencyService
@{
    ViewData["Title"] = Localizer["Preferences"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string lang = CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName;
}

<link href="~/css/buttonLoader.css" rel="stylesheet" />
<div class="container">
    <h4>@Localizer["Update Renewal communication preferences for..."]</h4>
    <h3>@Model.Email</h3>
    <!--<p>@Localizer["Select your communications preferences and submit to confirm."]</p>-->
</div>

<div class="container m-t-30">
    <form asp-controller="Contact" asp-action="ChangePreference" data-ajax="true" data-ajax-method="POST" data-ajax-begin="preference_begin" data-ajax-success="preference_success">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Language" />
        <fieldset>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>@Localizer["Change communications email:"]</label>
                    <input type="text" class="form-control" asp-for="NewEmail" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>@Localizer["Salutation/first name:"]</label>
                    <input type="text" class="form-control" asp-for="Salutation" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label>@Localizer["Language preference:"]</label><br />
                    <input type="radio" id="rbEnglish" name="language" value="en" /> English<br />
                    <input type="radio" id="rbChinese" name="language" value="zh" /> 简体中文
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="button" id="btnChangeCommunication" class="btn btn-secondary has-spinner">@Localizer["Submit"]</button>
                    <button type="submit" id="btnSubmitPreference" class="hide">@Localizer["Submit"]</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var lang = "@lang";
        $("input[name=language][value=" + lang + "]").attr('checked', 'checked');

        $('#btnChangeCommunication').click(function () {
            var selValue = $('input[name=language]:checked').val();
            $('#Language').val(selValue);
            $('#btnSubmitPreference').trigger('click');
        });
    });

    function preference_begin() {
        var btn = $('#btnChangeCommunication');
        $(btn).buttonLoader('start',"@Localizer["Please wait"]");
    }

    function preference_success(result) {
        var btn = $('#btnChangeCommunication');
        if (result.status = "1") {
            $('#message').show();
            $('#message').text(result.data);
            $(btn).buttonLoader('stop');
            window.location.href = "/contact/thankyou?id=2";
        }
    }

</script>