@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/news/issue14/home.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Your gift can provide his only escape from the cold."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["Cold weather hits homeless suffering in Covid-19 crisis"]</h2>
        <p>@Localizer["Life is returning to normal in Shanghai – but the homeless are now feeling the cold which makes the strict health protocols even harsher. People are literally locked out of the services they need to survive."]</p>
        <p>@Localizer["Your kindness today will stock the shelves and replenish the clean clothing exchange here at the Renewal Center, providing good food and warm clothes to people in desperate need."]</p>

    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give hot meals"] <i class="arrow right-arrow"></i></a>
    </div>
    </div>
</div>