@using RenewalWebsite.Services

@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Communicating with Pan is hard. He can’t hear or speak, read or write. But your support has opened a path for him to get the education he has lacked for so long. With your continued help, we can give Pan everything he needs to succeed."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["A chance at a new, fulfilling life"]</h2>
        <p>@Localizer["How do you make a new life when everything you have has been taken away? It’s only possible with a helping hand! That’s why the people in our residential job training program need you."]</p>
        <p>@Localizer["The homeless people who come to the Renewal Center want to work, but they don’t have job skills or even a place to live."]
        <p>@Localizer["With your help, we can welcome people into a long-term program that gives them all of the tools they need to live independent and fulfilling lives. Please send a gift toward this life-changing program."]
        <p>@Localizer[""]
        <p><a asp-controller="Donate" asp-action="Campaign">@Localizer["My gift to help people start a new, fulfilling life!"]</a></p>

        @*<div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Campaign">@Localizer["My gift to help Pan and others live full lives "] <i class="arrow right-arrow"></i></a>
        </div>*@
    </div>
</div>