@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home_202103.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["The simple gift of a hot meal can encourage someone to change their whole life"]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["Hot meals introduce more people to job training"]</h2>
        <p>@Localizer["Like every hot meal we serve, our Spring Festival celebration brings new people into the Renewal Center where they find out about job training and other services."]</p>
        <p>@Localizer["Read about Chen Wenlin who visited for the first at Spring Festival and has already joined our residential program to train job-seekers."]</p>
        
        <p><a class="bodynorm" href="/news">@Localizer["Read more"]</a></p>
        
    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Donate now"] <i class="arrow right-arrow"></i></a>
    </div>
    </div>
</div>
