@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home_202103.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Every gift delivers twice as much help today and for the coming winter months!"]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border" style=" text-align:center;">@Localizer["Every gift doubles"]</h2>
        <p>@Localizer["A generous supporter of the Renewal Center has offered a generous matching grant that will double your gift until October 16. Help us prepare for the winter months when more people need help."]</p>
        <p>@Localizer[" "]</p>
        
<!--        <p><a class="bodynorm" href="/news">@Localizer["Read more"]</a></p>   -->
        
    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Double my gift"] <i class="arrow right-arrow"></i></a>
    </div>
    </div>
</div>
