@using RenewalWebsite.Services

@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();

    decimal matchAmountCNY = 180000;
    decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-laundry.jpg" class="figure-img img-fluid" alt="donate page image">
        @if (language.Name.Contains("zh"))
        {
            <figcaption class="figure-caption caption chinese">@Localizer["The Renewal Center relies on friends like you to help homeless people in Shanghai start a new life."]</figcaption>
        }
        else
        {
            <figcaption class="figure-caption caption">@Localizer["The Renewal Center relies on friends like you to help homeless people in Shanghai start a new life."]</figcaption>
        }
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can’t do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["Give the gift of warmth this winter!"]</h2>
        <p>@Localizer["Your gifts provide life-changing opportunities for people like Wu Xueli. Before he joined our job program, his life was at a dead end. In our recent newsletter, read about Wu Xueli's new life at Renewal made possible through your generosity."]</p>
        <p><a asp-controller="News" asp-action="Index">@Localizer["Read our winter newsletter"]</a></p>
        <p>@Localizer["Your partnership allows us to continue to help homeless people in Shanghai like Wu Xueli. As we prepare for winter, we need your support to provide warm clothes and food to our guests."]</p>

    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Campaign_2017_12">@Localizer["Give winter clothes today"] <i class="arrow right-arrow"></i></a>
    </div>
</div>
</div>