@using RenewalWebsite.Services

@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-laundry.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["The Renewal Center relies on friends like you to help homeless people in Shanghai start a new life."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can’t do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <p><a asp-controller="News" asp-action="Index">@Localizer["Read our Spring Festival newsletter"]</a></p>
        <h2 class="red-border">

            @if (currency.Name.Contains("zh"))
            {
                <span>@baseAmountCNY.ToString("C", currency)</span>
            }
            else
            {
                <span>@baseAmountUSD.ToString("C", currency)</span>
            }

            @Localizer["provides a hot meal"]
        </h2>
        <p>@Localizer["Please give hot meals and hope to a homeless person and put them on the path to new life. Your gift below for food, shelter, and basic support like showers, laundry and access to our clothing bank will open a door for someone to start a new life away from the streets."]</p>
        
        <div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My gift today"] <i class="arrow right-arrow"></i></a>
        </div>
    </div>
</div>