@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="https://www.renewal365.org/images/home/slide-home_2023springfestival.jpeg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Your Spring Festival gift will serve a hot holiday meal, even outdoors."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Give hot, holiday meals to homeless people this Spring Festival"]</h2>

		<p>@Localizer["Homeless people in Shanghai are left out in the cold while everyone celebrates Spring Festival. Let someone know you care by giving them a hot, traditional holiday meal, a hongbao, and essential winter clothes today."]
		</p>

<!--
		<p class="m-tb-15">
                <a href="/news#story-2"><span>@Localizer["Read the story here"]</span></a>
        </p>
			
		<a class="bodynorm" href="/news">@Localizer["Read more"]</a>
        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
--> 
		<div class="clearfix mt-4 mb-5">
			<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["SEND YOUR URGENT GIFT"] <i class="arrow right-arrow"></i></a>
		</div>

<!--	
	<p>
		<a class="bodynorm" href="/manage">@Localizer["Download your personal 2021 giving report"]</a>
	</p>
-->
    </div>
</div>
