@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="https://www.renewal365.org/images/home/slide-home_2022autumn.jpeg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Please help close the year-end gap and keep helping the homeless"]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Urgent financial need must be met by December 31"]</h2>

		<p>@Localizer["This has been a challenging year for Renewal and the homeless people we help. Many months of lockdown meant they were forced to spread out and sleep rough, which made their suffering worse."]
		</p>
			
		<p>@Localizer["At the same time, our gift income has very seriously declined. Face-to-face fundraising came to a standstill. Strict quarantines and long periods of lockdown meant many of our supporters left Shanghai and returned to their home countries."]
		</p>
		
		<p><b>
		@if (currency.Name.Contains("zh"))
        {
            @Localizer["Your gift now can help close the 651,000 RMB shortfall and help continue providing meals and support for homeless people into the New Year."]
        }
        else
        {
            @Localizer["Your gift now can help close the $97,700 shortfall and help continue providing meals and support for homeless people into the New Year."]
        }
		</b></p>

<!--			
		<p class="m-tb-15">
                <a href="/news#story-2"><span>@Localizer["Read the story here"]</span></a>
        </p>

        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
-->
		<div class="clearfix mt-4 mb-5">
			<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Send your uegent gift"] <i class="arrow right-arrow"></i></a>
		</div>

<!--	
	<p>
		<a class="bodynorm" href="/manage">@Localizer["Download your personal 2021 giving report"]</a>
	</p>
-->
    </div>
</div>
