@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="https://www.renewal365.org/images/home/slide-home_2023autumn.jpeg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Retired, hungry and living on the streets."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Summer slump hits homeless retired"]</h2>

		<p>@Localizer["When Xie Lu’de had a stroke she was forced to retire, but now she and her husband live on the streets and sleep every night in the train station."]
		</p>
		<p class="m-tb-15">
                <a href="/news"><span>@Localizer["Read the story here"]</span></a>
        </p>
		
		<p>@Localizer["When giving drops, the “summer slump” can put vital programs at risk, but super graduate Yang Wenyin has been cooking and keeping our doors open."]
		</p>
		<p class="m-tb-15">
                <a href="/news#story-2"><span>@Localizer["Read the story here"]</span></a>
        </p>
<!--			
		<a class="bodynorm" href="/news">@Localizer["Read more"]</a>
        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
-->
		<p>
			<br/>
			<div class="clearfix mt-4 mb-5">
				<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["SEND A GIFT"] <i class="arrow right-arrow"></i></a>
			</div>
		</p>

<!--	
	<p>
		<a class="bodynorm" href="/manage">@Localizer["Download your personal 2021 giving report"]</a>
	</p>
-->
    </div>
</div>
