@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home_20211212.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Xu Hui is well dressed but lacks a winter coat and is often spending the night in the train station. Your help can reach homeless guests like him this winter."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Urgent need: Winter shelter, warm clothes and hot meals"]</h2>
		
		@if (currency.Name.Contains("en"))
		{
			<p>@Localizer["People like Xu Hui are still sleeping on the streets in the winter cold. Please help provide shelter, winter clothing and hot, healthy meals. You’ll help Renewal’s homeless guests survive the winter and find hope for the future – and your support for the residential training program can give people a completely new start in life."]&nbsp;<a class="bodynorm" href="/news">@Localizer["Read more"]</a>
			</p>
		}
		else
		{
			<p>@Localizer["People like Xu Hui are still sleeping on the streets in the winter cold. Please help provide shelter, winter clothing and hot, healthy meals. You’ll help Renewal’s homeless guests survive the winter and find hope for the future – and your support for the residential training program can give people a completely new start in life."]&nbsp;<a class="bodynorm" href="/news#story-2">@Localizer["Read more"]</a>
			</p>
		}
		
<!--
        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
-->        
        

        
    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
    </div>
    </div>
</div>
