@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="https://www.renewal365.org/images/home/slide-home_2022autumn.jpeg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["When temperatures drop, people urgently need warm clothes, coats and hats."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Cold weather can kill. You can help people survive"]</h2>

		<p>@Localizer["Renewal’s drop-in center is offering warm clothes, food and kindness to lonely homeless people who will be struggling to survive on the cold streets at night. We are urgently requesting gifts from supporters – because the cost of food is rising and the first people want when they come to us is a good, hot meal."]
		</p>
			
		<p class="m-tb-15">
                <a href="/news"><span>@Localizer["Read the story here"]</span></a>
        </p>
		
		<p>@Localizer["Our autumn newsletter also tells the survival story of Jiang Yuanyan, who found his way to the Renewal Center during lockdown, despite the drop-in center being closed for most of the last seven months. It was wonderful to see Jiang Yuanyan start a new job – and to know that it would have been impossible without the training provided here, and the kind gifts of generous supporters like you."]
		</p>
			
		<p class="m-tb-15">
                <a href="/news#story-2"><span>@Localizer["Read the story here"]</span></a>
        </p>
<!--			
		<a class="bodynorm" href="/news">@Localizer["Read more"]</a>
        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
--> 
		<div class="clearfix mt-4 mb-5">
			<a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Send a gift"] <i class="arrow right-arrow"></i></a>
		</div>

<!--	
	<p>
		<a class="bodynorm" href="/manage">@Localizer["Download your personal 2021 giving report"]</a>
	</p>
-->
    </div>
</div>
