@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home_202103.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["Your gift gives someone like Luo Yu the chance to enter job training."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Help a homeless person get off the streets"]</h2>
        <p>@Localizer["Every 15 RMB of your gift today will provide a hot meal, shower and clean clothes to someone who is sleeping rough. The Renewal Center relies entirely on the gifts of people like you to change the lives of homeless people in Shanghai and help them get off the streets for good."]</p>
		
		<p>@Localizer["Your gift offers them safe, temporary accommodation, career training – as well as help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["Please send a gift to help someone like Luo Yu find a stable job"]</h2>
        <p>@Localizer["Luo Yu was wandering with no hope for the future when he discovered the Renewal Center. Our friendly drop-in support like hot meals and laundry service gave him the confidence to join our residential training program. “I just wanted a stable, well-paid job,” he says."]</p>
        <p>@Localizer[" "]</p>
        
<!--        <p><a class="bodynorm" href="/news">@Localizer["Read more"]</a></p>   -->
        
    <div class="clearfix mt-4 mb-5">
        <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["Give now"] <i class="arrow right-arrow"></i></a>
    </div>
    </div>
</div>
