@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-home.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["The Renewal Center relies on friends like you to help homeless people in Shanghai start a new life."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <!--<p><a asp-controller="News" asp-action="Index">@Localizer["Read our Spring Festival newsletter"]</a></p>-->
        <h2 class="red-border">@Localizer["Help homeless people stay warm during the long winter ahead"]</h2>
        <p>@Localizer["Winter is coming, and we need your help. Hundreds of homeless people will come to us seeking nourishing meals and warm clothes to get them through the tough months ahead."]</p>
        <p>@Localizer["To get ready, we are relying on your generosity. We never want to turn anyone away hungry or cold. With your help we won’t have to. Please give now to make a difference when it matters the most."]</p>

        <div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Campaign">@Localizer["My gift of winter warmth"] <i class="arrow right-arrow"></i></a>
        </div>
    </div>
</div>