@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Home"];

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;

    //decimal matchAmountCNY = 180000;
    //decimal matchAmountUSD = 27500;
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/news/issue14/home.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["When the coronavirus crisis ends, we face a long period of recovery. Right now, people desperately need your help."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Your support helps displaced people gain employment, stability and a permanent home"]</h2>
        <p>@Localizer["We can't do it without you. The Renewal Center relies on donations to change the lives of homeless people in Shanghai. Your gifts provide basic support, meals, friendship and warmth. More than that, you also offer safe, temporary accommodation, career training – and help getting an essential national identity card, a satisfying job and a permanent home."]</p>

        <h2 class="red-border">@Localizer["Help the homeless people hardest hit by the coronavirus"]</h2>
        <p>@Localizer["The coronavirus crisis has left so many people hungry and hopeless. Before it hit, they could find day jobs or earn a few coins collecting cans and bottles. Since then, there's hardly been anyone on the streets so their meagre incomes have disappeared."]</p>
        <p>@Localizer["To make matters worse, Renewal's drop-in center was forced to closed. We are still taking food to people in need, but everyone needs to stay clean, clothed and safe."]</p>

        @*<p><a asp-controller="Donate" asp-action="Campaign">@Localizer["My gift to help people start a new, fulfilling life!"]</a></p>*@

        <div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary btn-block" asp-controller="Donate" asp-action="Index">@Localizer["My emergency gift"] <i class="arrow right-arrow"></i></a>
        </div>
    </div>
</div>