<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/slide-1.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption">@Localizer["The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2 class="mt-4">@Localizer["Renewal helps displaced people find employment, stability and a permanent home..."]</h2>
        <p>@Localizer["People come to the city seeking wealth... opportunity... freedom... or an escape. Sadly, many find the city offers no support network and no way out. Concerned for those trapped in poverty, a small group opened Renewal in a city-center storefront in 2008, and we invite you to join us today in reaching people who are friendless, desperate and displaced."]</p>
        <p>@Localizer["People come to Renewal looking for basic support, friendship and warmth. Many find that and more, including employment, independence and renewed confidence. With a full-time staff of just four people, Renewal relies on support from partners to offer people essential help on the road to full-time work."]</p>
        <p>@Localizer["Renewal can become a temporary home to those committed to finding a good job. Those who do settle into employment get help finding a home they can call their own, and support gaining the resources they need to pursue their dreams. We can even help people renew broken relationships with family, and tailor all of our support to what they tell us they need."]</p>
    </div>
</div>