@{
    ViewData["Title"] = Localizer["Services"];
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-ziggy.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption">@Localizer["The Renewal Center relies on gifts of time and money to help displaced people in Shanghai find support, employment and permanent homes."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2 class="mt-4">@Localizer["Renewal offers our guests four stages of progress to a better life, tailored to the individual..."]</h2>
        <p>@Localizer["People come to Renewal with complex problems. Some have addictions. Others have lost touch with family or been in trouble with the law. Some have spent many years without stability, have lost confidence and are unable to find a job, a permanent home, or in some cases even to stay clean and eat well."]</p>
        <p>@Localizer["Your support helps us work with each person as an individual, through four important stages..."]</p>

        <h4 class="mb-4">@Localizer["Essential Services"]</h4>
        <p>@Localizer["Every person who comes to Renewal is offered a hot shower, a change of clothes, laundry facilities, and a chance to let someone know what help they need. Each one will often receive a hot, nutritious meal. The streets can be tough, day and night. With continued support, Renewal will be here for everyone who needs friendship or a helping hand."]</p>

        <h4 class="mb-4">@Localizer["Life Skills Workshops"]</h4>
        <p>@Localizer["As we get to know people, many show an interest in gaining further support. For them, our dedicated team of volunteers run life skills workshops that help men and women begin to set goals, resolve conflicts, and express themselves more confidently through art and music. Many people start the process of renewing broken relationships or reconciling with family."]</p>

        <h4 class="mb-4">@Localizer["Work Experience"]</h4>
        <p>@Localizer["After years of living on the fringes of society, it can seem impossible to find a good job – and the determination and discipline of full-time work is not something you learn overnight. Renewal’s Work Experience program invites people to serve in our laundry room, maintaining the center or managing our essential services. Here, they gain valuable job skills while helping out other people in need."]</p>

        <h4 class="mb-4">@Localizer["Employment and Support"]</h4>
        <p>@Localizer["After a time of working at Renewal, most program participants are ready to find a full-time job in the marketplace. Our local employment partners including restaurants, Element Fresh, and Maya help us match our residents with a job they value. Once they settle in and establish a personal budget, we give them further assistance to help them find a permanent home."]</p>
    </div>
</div>