@using RenewalWebsite.Services
@using RenewalWebsite.Resources
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = DataAnnotations.Services;
    var language = CurrencyService.GetCurrentLanguage();
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-ziggy.jpg" class="figure-img img-fluid" alt="donate page image">
        @if (language.Name.Contains("zh"))
        {
            <figcaption class="figure-caption caption chinese">@DataAnnotations.RenewalCenterRelies</figcaption>
        }
        else
        {
            <figcaption class="figure-caption caption">@DataAnnotations.RenewalCenterRelies</figcaption>
        }
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@DataAnnotations.RenewalOfferDisaplacedPeople</h2>
        <p>@DataAnnotations.StartingWithBasicHelp</p>

        <h4 class="mb-4">@DataAnnotations.EssentialServices</h4>
        <p>@DataAnnotations.YourSupportOffers</p>

        <h4 class="mb-4">@DataAnnotations.LifeSkillsWorkshops</h4>
        <p>@DataAnnotations.PeopleWantFurther</p>

        <h4 class="mb-4">@DataAnnotations.WorkExperience</h4>
        <p>@DataAnnotations.AfterYearsOfLiving</p>

        <h4 class="mb-4">@DataAnnotations.EmploymentAndSupport</h4>
        <p>@DataAnnotations.TimeOfWorkingAtRenewal</p>
    </div>
</div>