@using System.Globalization
@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@model RenewalWebsite.Models.DonationViewModel

@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Donate"];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 15;
    double baseAmountUSD = 2.19;
}

<div class="row">

    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/donate-page-photo.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">
            <!--@Localizer["Every"]
            @if (currency.Name.Contains("zh"))
            {
                <span>@baseAmountCNY.ToString("C", currency)</span>
            }
            else
            {
                <span>@baseAmountUSD.ToString("C", currency)</span>
            }
            @Localizer["you give today will provide a hot meal, shower and change of clothes for a homeless man or woman."]-->
            @Localizer["When the weather is cold, more people come to us and they all need urgent help."]
        </figcaption>
    </div>

    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Please give hot meals and job training"]</h2>

        @if (currency.Name.Contains("en"))
        {
            <p>@Localizer["Every hot meal we serve at the Renewal Center relies on a supporter gift of 15 RMB. And your gift of XXX RMB could provide a meal, plus one day of accommodation on our incredibly effective job training program."]</p>
            <form asp-controller="Donate" asp-action="Create">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div id="textMainMessage" class="text-danger" style="display:none;">
                    <ul>
                        <li id="textMainErrorMessage"></li>
                    </ul>
                </div>
                <div class="form-group" style="overflow:inherit;">
                    <div class="input-group">
                        @*<label class="mtp-auto">
                                @Localizer["I would like to make a"]&nbsp;
                            </label>
                            <div class="box">
                                <select asp-for="CycleId" class="wide select-font" style="min-width:120px; max-width:120px;border-radius:0.25rem;"
                                        asp-items="@Model.DonationCycles"></select>
                            </div>&nbsp;

                            <label class="mtp-auto">@Localizer["gift of:"]</label>*@
                    </div>
                </div>
                <input type="hidden" id="Reason" name="Reason" />
                <input type="hidden" id="IsCustom" name="IsCustom" />
                <input type="hidden" id="DonationAmount" name="DonationAmount" />
                <input type="hidden" id="CycleId" name="CycleId" />
                <ul class="list-unstyled rmb-options mb-5">
                    <li> <input id="SelectedAmount" name="SelectedAmount" type="radio" value="1" data-value="false" checked="checked" data-donation-value="13.50" data-reason="For most urgent needs" />@Localizer["150 RMB to provide a hot meal, shower, and clean clothes for 10 people"]</li>
                    <li> <input id="SelectedAmount" name="SelectedAmount" type="radio" value="2" data-value="false" data-donation-value="40.50" data-reason="For most urgent needs" />@Localizer["XX RMB to provide XX days of job training, meals and accommodation"]</li>
					<li> <input id="SelectedAmount" name="SelectedAmount" type="radio" value="2" data-value="false" data-donation-value="40.50" data-reason="For most urgent needs" />@Localizer["750 RMB to provide a hot meal, shower, and clean clothes for 50 people"]</li>
					<li> <input id="SelectedAmount" name="SelectedAmount" type="radio" value="2" data-value="false" data-donation-value="40.50" data-reason="For most urgent needs" />@Localizer["XXX RMB to provide XX days of job training, meals and accommodation"]</li>
<!--                    <li> <input id="SelectedAmount" name="SelectedAmount" type="radio" value="3" data-value="false" data-donation-value="81.00" data-reason="For most urgent needs" /><strong>@CurrencyService.GetSymbol(currency)81.00</strong> @Localizer["to provide a hot meal, shower, and winter clothes for 6 people"]</li> -->
                    <li>
                        <div class="input-group">
                            <input id="SelectedAmount" name="SelectedAmount" type="radio" value="4" class="rb-align" data-value="true" data-reason="to help as many people as I can." onclick="setFocus(this)" />
                            <input type="text" id="CustomAmount" name="CustomAmount" onfocus="checkSelection()" class="form-control" style="height:38px;" /> @Localizer["RMB for "]
								<input type="checkbox">@Localizer["hot meals"]</>
								<input type="checkbox">@Localizer["job training"]</>
								<input type="checkbox">@Localizer["any current need"]</>
                        </div>
                    </li>
                </ul>

                <input type="checkbox" id="RepeateCycle" value="1">&nbsp; @Localizer["I want my gift to repeat automatically every month."]
                <div class="clearfix mt-3 mb-3">
                    <button id="btnSave" class="btn btn-secondary" type="button" onclick="checkAmount();">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]&nbsp;<i class="arrow right-arrow"></i></button>
                    <button id="btnSaveFinal" class="btn btn-secondary hide" type="submit">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]&nbsp;<i class="arrow right-arrow"></i></button>
                </div>
                <p>@await Html.PartialAsync("_CurrencyTogglePartial")</p>
            </form>
        }
        else
        {
            <p>@Localizer["At 88 RMB per person, it only takes 264 RMB to provide a meal, winter clothes and urgent support for three."]</p>
            <ul class="list-unstyled gift-options">
                <li><strong>@CurrencyService.GetSymbol(currency)88</strong> @Localizer["to provide a hot meal, shower, and winter clothes for 1 person"]</li>
                <li><strong>@CurrencyService.GetSymbol(currency)264</strong> @Localizer["to provide a hot meal, shower, and winter clothes for 3 people"]</li>
                <li><strong>@CurrencyService.GetSymbol(currency)528</strong> @Localizer["to provide a hot meal, shower, and winter clothes for 6 people"]</li>
                <li>@Localizer["An amount of your choice to help as many people as you can."]</li>
            </ul>
            <div class="clearfix mt-3 mb-3">
                <a class="btn btn-secondary" target="_blank" href="https://yoopay.cn/pay/renewal365">@Localizer["DONATE NOW USING WECHAT OR ALIPAY"] <i class="arrow right-arrow"></i></a>
            </div>

            <p class="m-tb-15">@await Html.PartialAsync("_CurrencyTogglePartial")</p>
        }
    </div>

</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#CycleId").val(4);
        //$("#CycleId").prop('selectedIndex', 3);
        //$('select').niceSelect();
    });

    function checkAmount() {
        var item = $('input[name=SelectedAmount]:checked').val();
        if (item == "4") {
            if ($('#CustomAmount').val() == "") {
                $('#textMainMessage').show();
                $('#textMainErrorMessage').text('@Localizer["Amount is required."]');
                $('#CustomAmount').focus();
                return;
            }
            else {
                var finalValue = parseFloat($('#CustomAmount').val());
                var format = /[a-zA-Z!@@#$%^&*()_+\-=\[\]{};':"\\|,<>\/?~`]/;
                if (isNaN(finalValue) || finalValue == 0 || format.test($('#CustomAmount').val())) {
                    $('#textMainMessage').show();
                    $('#textMainErrorMessage').text('@Localizer["Please enter a valid amount."]');
                    $('#CustomAmount').focus();
                    return;
                }
            }

            $('#DonationAmount').val($('#CustomAmount').val());
        }
        else {
            var value = $('input[name=SelectedAmount]:checked').data('donation-value');
            $('#DonationAmount').val(value);
        }

        var reason = $('input[name=SelectedAmount]:checked').data('reason');
        $('#Reason').val(reason);

        var iscustom = $('input[name=SelectedAmount]:checked').data('value');
        $('#IsCustom').val(iscustom);
        
        if($("#RepeateCycle").prop("checked") == true){
             $("#CycleId").val($('#RepeateCycle:checked').val());
            }
            else if($("#RepeateCycle").prop("checked") == false){
             $("#CycleId").val(4);
            }
        $('#textMainMessage').hide();
        $('#textMainErrorMessage').text('');
        $("#btnSaveFinal").trigger("click");
    };

    function setFocus(item) {
        $('#CustomAmount').focus();
    };

    function checkSelection() {
        $('[data-value=true]').prop('checked', true);
    };
</script>
