@using System.Globalization
@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Renewal"].Value;

    var currency = CurrencyService.GetCurrent();
    double exchangeRate = 6.8;

    double giftBase = 10;
    double giftOption1 = 100;
    double giftOption2 = 350;
    double giftOption3 = 600;

    if (currency.Name.Contains("en"))
    {
        giftBase = giftBase / exchangeRate;
        giftOption1 = giftOption1 / exchangeRate;
        giftOption2 = giftOption2 / exchangeRate;
        giftOption3 = giftOption3 / exchangeRate;
    }
}

<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-eating.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption">@Localizer["Every"] @giftBase.ToString("C", currency) @Localizer["of your gift will provide a hot meal to a homeless person."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2 class="mt-4">@Localizer["My gift of hot meals for homeless men and women"]</h2>
        <p>@Localizer["Yes, I want to offer the basic kindness of a hot meal while I hold the door open for people who want to walk through and into a new life. Please use my support to also offer showers, clean clothes, shelter and valuable job training. I'm sending:"]</p>
        <ul class="list-unstyled rmb-options mb-5">
            <li><input id="radio1" name="RMB-options" type="radio" value="178" checked /> <strong>@giftOption1.ToString("C", currency)</strong> @Localizer["to provide"] 10 @Localizer["hot meals."]</li>
            <li><input id="radio2" name="RMB-options" type="radio" value="356" /> <strong>@giftOption2.ToString("C", currency)</strong> @Localizer["to provide"] 35 @Localizer["hot meals."]</li>
            <li><input id="radio3" name="RMB-options" type="radio" value="712" /> <strong>@giftOption3.ToString("C", currency)</strong> @Localizer["to provide"] 60 @Localizer["hot meals."]</li>
            <li><input id="radio4" name="RMB-options" type="radio" value="choose-amount" /> <strong>@CurrencyService.GetSymbol(currency)</strong> <input id="choose-amount" type="text" /> @Localizer["to help as much as I can."]</li>
        </ul>
        <p>@await Html.PartialAsync("_CurrencyTogglePartial")</p>
        <div class="clearfix mt-4 mb-5">
            <a class="btn btn-secondary" href="#">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"] <i class="arrow right-arrow"></i></a>
        </div>
        <p><a href="">Donate now using Alipay</a></p>
        <p><a href="">See other ways to give</a></p>
        
    </div>
</div>
