@using System.Globalization
@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@model DonationViewModel

@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Donate"];
    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
    double baseAmountCNY = 10;
    double baseAmountUSD = 1.47;
}

<div class="row">

    @if (ViewBag.Browser.Contains("QQBrowser"))
    {
        if (ViewBag.Browser.Contains("Mac OS X"))
        {
            <h2>Please open this page in Safari.</h2>
            <p>Our site isn't compatible with WeChat. To continue, please select "Open in Safari" from the context menu (three dots) at the top of your screen.</p>
        }
        else
        {
            <h2>Please open this page in your browser.</h2>
            <p>Our site isn't compatible with WeChat. To continue, please select "Open in Browser" from the context menu (three dots) at the top of your screen.</p>
        }
    }
    else
    {
        <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
            <img src="~/images/home/slide-eating.jpg" class="figure-img img-fluid" alt="donate page image">
            @if (language.Name.Contains("zh"))
            {
                <figcaption class="figure-caption caption chinese">
                    @Localizer["Every"]
                    @if (currency.Name.Contains("zh"))
                    {
                        <span>@baseAmountCNY.ToString("C", currency)</span>
                    }
                    else
                    {
                        <span>@baseAmountUSD.ToString("C", currency)</span>
                    }
                    @Localizer["of your gift will provide a hot meal for a homeless person."]
                </figcaption>

            }
            else
            {
                <figcaption class="figure-caption caption">
                    @Localizer["Every"]
                    @if (currency.Name.Contains("zh"))
                    {
                        <span>@baseAmountCNY.ToString("C", currency)</span>
                    }
                    else
                    {
                        <span>@baseAmountUSD.ToString("C", currency)</span>
                    }
                    @Localizer["of your gift will provide a hot meal for a homeless person."]
                </figcaption>

            }

        </div>
        <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
            <h2>@Localizer["My gift of hot meals, shelter and support for homeless men and women"]</h2>
            <p>@Localizer["Yes, I’ll rescue a homeless person from the streets by providing the food, shelter and support they need to start a new life!"]</p>

            @if (currency.Name.Contains("en"))
            {
                <form asp-controller="Donate" asp-action="Create">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div id="textMainMessage" class="text-danger" style="display:none;">
                        <ul>
                            <li id="textMainErrorMessage"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="mtp-auto">
                                @Localizer["I would like to make a"]&nbsp;
                            </label>
                            <select asp-for="CycleId" class="form-control select-font" style="min-width:100px; max-width:100px;border-radius:0.25rem;"
                                    asp-items="@Model.DonationCycles"></select>&nbsp;

                            <label class="mtp-auto">@Localizer["gift of:"]</label>
                        </div>
                    </div>

                    <ul class="list-unstyled rmb-options mb-5">
                        @foreach (var donation in Model.DonationOptions)
                        {
                            if (donation.IsCustom)
                            {
                                <li>
                                    <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" onclick="setFocus(this)" />
                                    <strong>@CurrencyService.GetSymbol(currency)</strong>
                                    <input type="text" asp-for="DonationAmount" onfocus="checkSelection()" class="form-control" /> @Localizer[donation.Reason]
                                </li>
                            }
                            else
                            {
                                if (donation.Id == 1)
                                {
                                    @*
                                        <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" checked="checked" /><strong>@CurrencyService.GetSymbol(currency) @(Math.Round((donation.Amount / Model.ExchangeRate),2))</strong> @Localizer[donation.Reason]</li>*@
                                    <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" checked="checked" /><strong>@CurrencyService.GetSymbol(currency) @donation.Amount</strong> @Localizer[donation.Reason]</li>
                                }
                                else
                                {
                                    @*
                                        <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" /> <strong>@CurrencyService.GetSymbol(currency)@(Math.Round((donation.Amount / Model.ExchangeRate),2))</strong> @Localizer[donation.Reason]</li>*@
                                    <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" /> <strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]</li>
                                }

                            }
                        }
                    </ul>
                    <div class="clearfix">
                        <button id="btnSave" class="btn btn-secondary" type="button" onclick="checkAmount();">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]</button>
                        <button id="btnSaveFinal" class="btn btn-secondary hide" type="submit">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]</button>
                    </div>
                    <p>@await Html.PartialAsync("_CurrencyTogglePartial")</p>
                </form>
            }
            else
            {
                <ul class="list-unstyled gift-options">
                    @foreach (var donation in Model.DonationOptions)
                    {
                        if (donation.IsCustom)
                        {
                            <li>@Localizer["An amount of your choice to help as many people as you can."]</li>
                        }
                        else
                        {
                            if (donation.Id == 1)
                            {
                                <li><strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]</li>
                            }
                            else
                            {
                                <li><strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]</li>
                            }
                        }
                    }
                    @*
                        <li>A gift of <strong>@giftOption1.ToString("C", currency)</strong> @Localizer["to provide"] 10 @Localizer["hot meals."]</li>
                        <li>A gift of <strong>@giftOption2.ToString("C", currency)</strong> @Localizer["to provide"] 35 @Localizer["hot meals."]</li>
                        <li>A gift of <strong>@giftOption3.ToString("C", currency)</strong> @Localizer["to provide"] 60 @Localizer["hot meals."]</li>
                        <li>@Localizer["Your most generous possible gift of any amount will be doubled."]</li>*@
                </ul>
                <div class="clearfix">
                    <a class="btn btn-secondary" target="_blank" href="https://qr.alipay.com/apr23wsb7xjd8usf04">@Localizer["OPEN ALIPAY APP AND DONATE NOW"] <i class="arrow right-arrow"></i></a>
                </div>
                <p class="m-tb-15">@Localizer["Or scan the QR code below with your Alipay app to donate now:"]</p>
                <img src="~/images/zhifubao.jpg" width="125" />
                <p class="m-tb-15">@await Html.PartialAsync("_CurrencyTogglePartial")</p>
            }
        </div>
    }
</div>
<script type="text/javascript">
    function checkAmount() {
        var item = $('input[name=SelectedAmount]:checked').val();
        if (item == "4") {
            if ($('#DonationAmount').val() == "") {
                $('#textMainMessage').show();
                $('#textMainErrorMessage').text('Amount is required.');
                return;
            }
        }
        $('#textMainMessage').hide();
        $('#textMainErrorMessage').text('');
        $("#btnSaveFinal").trigger("click");
    };

    function setFocus(item) {
        $('#DonationAmount').focus();
    };

    function checkSelection() {
        $('[data-value=True]').prop('checked', true);
    };
</script>
