@using System.Globalization
@using RenewalWebsite.Services
@using Microsoft.AspNetCore.Mvc.Localization
@model DonationViewModel

@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService

@{
    ViewData["Title"] = Localizer["Donate"].Value;

    var currency = CurrencyService.GetCurrent();
    var language = CurrencyService.GetCurrentLanguage();
}

<div class="row">

    @if (ViewBag.Browser.Contains("MicroMessenger"))
    {
        if (ViewBag.Browser.Contains("Mac OS X"))
        {
            <div class="col-md-12">
                <h2>@Localizer["Please open this page in your browser."]</h2>
                <p>@Localizer["Our site isn't compatible with WeChat. To continue, please select 'Open in Safari' from the context menu (three dots) at the top of your screen."]</p>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h2>@Localizer["Please open this page in your browser."]</h2>
                <p>@Localizer["Our site isn't compatible with WeChat. To continue, please select 'Open with Browser' from the context menu (three dots) at the top of your screen."]</p>
            </div>
        }
    }
    else
    {
        <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
            <img src="~/images/campaigns/slide-matching.jpg" class="figure-img img-fluid" alt="donate page image">
            @if (language.Name.Contains("zh"))
            {
                <figcaption class="figure-caption caption chinese">@Localizer["Double my gift to save and shelter more people."]</figcaption>
            }
            else
            {
                <figcaption class="figure-caption caption">@Localizer["Double my gift to save and shelter more people."]</figcaption>
            }
        </div>
        <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
            <h2>@Localizer["Double my gift for Renewal today"]</h2>
            <p>@Localizer["Yes, please use your generous matching grant to double every dollar of my gift today -- to offer hope and support for people who would otherwise be living on the streets."]</p>

            @if (currency.Name.Contains("en"))
            {
                <form asp-controller="Donate" asp-action="Create">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div id="textMainMessage" class="text-danger" style="display:none;">
                        <ul>
                            <li id="textMainErrorMessage"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="mtp-auto">@Localizer["I would like to make a"]&nbsp;</label>
                            <select asp-for="CycleId" class="form-control select-font" style="min-width:100px; max-width:100px;border-radius:0.25rem;"
                                    asp-items="@Model.DonationCycles"></select>&nbsp;

                            <label class="mtp-auto">@Localizer["gift of:"]</label>
                        </div>
                    </div>

                    <ul class="list-unstyled rmb-options mb-5">
                        @foreach (var donation in Model.DonationOptions)
                        {
                            if (donation.IsCustom)
                            {
                                <li>
                                    <input asp-for="SelectedAmount" type="radio" value="@donation.Id" class="rb-align" data-value="@donation.IsCustom" onclick="setFocus(this)" /><strong>@CurrencyService.GetSymbol(currency)</strong>
                                    <input type="text" asp-for="DonationAmount" onfocus="checkSelection()" class="form-control" /> @Localizer[donation.Reason]
                                </li>
                            }
                            else
                            {
                                if (donation.Id == 1)
                                {
                                    @*<li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" checked="checked" /><strong>@CurrencyService.GetSymbol(currency)@(Math.Round((donation.Amount / Model.ExchangeRate), 2))</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@((Math.Round((donation.Amount / Model.ExchangeRate), 2)) * 2)</strong></li>*@
                                    <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" checked="checked" /><strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@(donation.Amount * 2)</strong>@Localizer["."]</li>

                                }
                                else
                                {
                                    @*<li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom"/> <strong>@CurrencyService.GetSymbol(currency)@(Math.Round((donation.Amount / Model.ExchangeRate), 2))</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@((Math.Round((donation.Amount / Model.ExchangeRate), 2)) * 2)</strong></li>*@
                                    <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" data-value="@donation.IsCustom" /> <strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@(donation.Amount * 2)</strong>@Localizer["."]</li>
                                }

                            }
                        }
                    </ul>
                    <div class="clearfix mt-3 mb-3">
                        <button id="btnSave" class="btn btn-secondary" type="button" onclick="checkAmount();">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]&nbsp;<i class="arrow right-arrow"></i></button>
                        <button id="btnSaveFinal" class="btn btn-secondary hide" type="submit">@Localizer["DONATE WITH CREDIT OR DEBIT CARD NOW"]&nbsp;<i class="arrow right-arrow"></i></button>
                    </div>
                    <p>@await Html.PartialAsync("_CurrencyTogglePartial")</p>
                </form>
            }
            else
            {
                <ul class="list-unstyled gift-options">
                    @foreach (var donation in Model.DonationOptions)
                    {
                        if (donation.IsCustom)
                        {
                            <li>@Localizer["Your most generous possible gift of any amount will be doubled."]</li>
                        }
                        else
                        {
                            if (donation.Id == 1)
                            {
                                <li><strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@(donation.Amount * 2)</strong>@Localizer["."]</li>
                            }
                            else
                            {
                                <li><strong>@CurrencyService.GetSymbol(currency)@donation.Amount</strong> @Localizer[donation.Reason]&nbsp;<strong>@CurrencyService.GetSymbol(currency)@(donation.Amount * 2)</strong>@Localizer["."]</li>
                            }
                        }
                    }
                    @*<li>A gift of <strong>@giftOption1.ToString("C", currency)</strong> @Localizer["will matched, and doubled to"] <strong>@giftOption1x2.ToString("C", currency)</strong></li>
                        <li>A gift of <strong>@giftOption2.ToString("C", currency)</strong> @Localizer["to be matched, and doubled to"] <strong>@giftOption2x2.ToString("C", currency)</strong></li>
                        <li>A gift of <strong>@giftOption3.ToString("C", currency)</strong> @Localizer["to be matched, and doubled to"] <strong>@giftOption3x2.ToString("C", currency)</strong></li>
                        <li>@Localizer["Your most generous possible gift of any amount will be doubled."]</li>*@
                </ul>
                <div class="clearfix mt-3 mb-3">
                    <a class="btn btn-secondary btn-block" target="_blank" href="https://qr.alipay.com/apr23wsb7xjd8usf04">@Localizer["OPEN ALIPAY APP AND DONATE NOW"] <i class="arrow right-arrow"></i></a>
                </div>
                <p class="m-tb-15">@Localizer["Or scan the QR code below with your Alipay app to donate now:"]</p>
                <img src="~/images/zhifubao.jpg" width="125" />
                <p class="m-tb-15">@await Html.PartialAsync("_CurrencyTogglePartial")</p>
            }
        </div>
    }
</div>
<script type="text/javascript">
    function checkAmount() {
        var item = $('input[name=SelectedAmount]:checked').val();
        if (item == "4") {
            if ($('#DonationAmount').val() == "") {
                $('#textMainMessage').show();
                $('#textMainErrorMessage').text('Amount is required.');
                $('#DonationAmount').focus();
                return;
            }
        }
        $('#textMainMessage').hide();
        $('#textMainErrorMessage').text('');
        $("#btnSaveFinal").trigger("click");
    };

    function setFocus(item) {
        $('#DonationAmount').focus();
    };

    function checkSelection() {
        $('[data-value=True]').prop('checked', true);
    };
</script>