@model RenewalWebsite.Models.ManageViewModels.NewCardViewModel

<style>
    #CardNumber {
        background-image: url('/images/cards.png');
        background-position: 3px 3px;
        background-size: 40px 252px; /* 89 x 560 */
        background-repeat: no-repeat;
        padding-left: 48px;
    }
</style>
<div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
    <form asp-controller="Manage" asp-action="AddNewCard" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-success="fun_add_success(this,data,xhr);" data-ajax-failure="fun_add_fail(this,data,xhr);">
        <fieldset>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label asp-for="CardNumber" class="control-label">@Localizer["Card Number"]</label>
                    <input type="text" class="form-control" asp-for="CardNumber" placeholder="@Localizer["Debit/Credit Card Number"]" size="19" maxlength="19" data-stripe="number">
                    <span class="payment-errors required"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-sm-12">
                    <label class="control-label" asp-for="ExpiryMonth">@Localizer["Expiration Date"]</label>
                    <div>
                        <div class="row">
                            <div class="col-6 pr5">
                                <select class="form-control" asp-for="ExpiryMonth">
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-6 pl5">
                                <select class="form-control" asp-for="ExpiryYear">
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 form-group">
                    <label class="control-label" asp-for="Cvc">@Localizer["Security Code"]</label>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" asp-for="Cvc" placeholder="@Localizer["CVV/CVC"]">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Cvc"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" asp-for="Cvc" placeholder="CVC">
                        <span asp-validation-for="Cvc" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12 col-sm-12">
                            <label class="control-label" asp-for="ExpiryMonth"></label>
                            <div>
                                <div class="row">
                                    <div class="col-3 pr5">
                                        <select class="form-control" asp-for="ExpiryMonth">
                                            <option value="01">Jan (01)</option>
                                            <option value="02">Feb (02)</option>
                                            <option value="03">Mar (03)</option>
                                            <option value="04">Apr (04)</option>
                                            <option value="05">May (05)</option>
                                            <option value="06">June (06)</option>
                                            <option value="07">July (07)</option>
                                            <option value="08">Aug (08)</option>
                                            <option value="09">Sep (09)</option>
                                            <option value="10">Oct (10)</option>
                                            <option value="11">Nov (11)</option>
                                            <option value="12">Dec (12)</option>
                                        </select>
                                    </div>
                                    <div class="col-3 pr5">
                                        <select class="form-control" asp-for="ExpiryYear">
                                            <option value="17">2017</option>
                                            <option value="18">2018</option>
                                            <option value="19">2019</option>
                                            <option value="20">2020</option>
                                            <option value="21">2021</option>
                                            <option value="22">2022</option>
                                            <option value="23">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-secondary" />
                    <input type="button" value="@Localizer["Cancel"]" class="btn btn-secondary" onclick="showEditDetail()" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/jquery.creditCardValidator.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var $cardinput = $('#CardNumber');
        $('#CardNumber').validateCreditCard(function (result) {
            if (result.card_type != null) {
                switch (result.card_type.name) {
                    case "visa":
                        $cardinput.css('background-position', '3px -34px');
                        $cardinput.addClass('card_visa');
                        break;

                    case "visa_electron":
                        $cardinput.css('background-position', '3px -72px');
                        $cardinput.addClass('card_visa_electron');
                        break;

                    case "mastercard":
                        $cardinput.css('background-position', '3px -110px');
                        $cardinput.addClass('card_mastercard');
                        break;

                    case "maestro":
                        $cardinput.css('background-position', '3px -148px');
                        $cardinput.addClass('card_maestro');
                        break;

                    case "discover":
                        $cardinput.css('background-position', '3px -186px');
                        $cardinput.addClass('card_discover');
                        break;

                    case "amex":
                        $cardinput.css('background-position', '3px -223px');
                        $cardinput.addClass('card_amex');
                        break;

                    default:
                        $cardinput.css('background-position', '3px 3px');
                        break;
                }
            } else {
                $cardinput.css('background-position', '3px 3px');
            }

            // Check for valid card numbere - only show validation checks for invalid Luhn when length is correct so as not to confuse user as they type.
            if (result.length_valid || $cardinput.val().length > 16) {
                if (result.luhn_valid) {
                    $cardinput.parent().removeClass('has-error').addClass('has-success');
                } else {
                    $cardinput.parent().removeClass('has-success').addClass('has-error');
                }
            } else {
                $cardinput.parent().removeClass('has-success').removeClass('has-error');
            }
        });

    });

    function fun_add_success(ele, data, xhr) {
        if (data.status == "1") {
            window.location = "/Manage/Index?message=&tabId=1";
        }
        else {
            $('#textMainMessage').show();
            $('#textMainMessage').removeClass('alert alert-success');
            $('#textMainMessage').addClass('alert alert-danger');
            $('#textMainMessage').text(data.data);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }
    }

    function fun_add_fail(data) {
        $('#textMainMessage').show();
        $('#textMainMessage').removeClass('alert alert-success');
        $('#textMainMessage').addClass('alert alert-danger');
        $('#textMainMessage').text('Something went wrong, please try again.');
        $("html, body").animate({ scrollTop: 0 }, "slow");
    };

    function showEditDetail() {
        $('#divUpdate').show();
        $('#divAdd').empty();
        $('#divAdd').hide();
    };

</script>

