@model RenewalWebsite.Models.ManageViewModels.NewCardViewModel

<div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
    <form asp-controller="Manage" asp-action="AddNewCard" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-success="fun_add_success(this,data,xhr);" data-ajax-failure="fun_add_fail(this,data,xhr);">
        <fieldset>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="NewExpiryYear">
            <div class="form-group row">
                <div class="col-lg-9">
                    <label asp-for="CardNumber" class="control-label">@Localizer["Card Number"]</label>
                    <div class="input-group">
                        <input type="text" class="ccFormatMonitor form-control cc_type_unknown" asp-for="CardNumber" placeholder="@Localizer["Debit/Credit Card Number"]" data-blur-credit-card autocomplete="off">
                        <p class="well" style="margin-top:5px;margin-bottom:0px;margin-left:5px;"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-sm-12">
                    <label class="control-label" asp-for="ExpiryMonth">@Localizer["Expiration Date"]</label>
                    <div>
                        <div class="row">
                            <div class="col-6 pr5">
                                <select class="form-control" asp-for="ExpiryMonth">
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-6 pl5">
                                <select class="form-control" id="AddExpiryYear" name="AddExpiryYear" onchange="setNewExpiryYear(this)"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 form-group">
                    <label class="control-label" asp-for="Cvc">@Localizer["Security Code"]</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" asp-for="Cvc" placeholder="@Localizer["CVV/CVC"]" maxlength="3" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-secondary" />
                    <input type="button" value="@Localizer["Cancel"]" class="btn btn-secondary" onclick="showEditDetail()" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>For your security, Renewal does not store credit card details. Stripe is our secure payment provider.</span>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/js/ccFormat.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var year = new Date().getFullYear();
        for (var i = 0; i < 10; i++) {
            var value = (year + i).toString();
            var opt = new Option(value, value.slice(-2));
            $('#AddExpiryYear').append(opt);
        }

        var value = (year).toString();
        $('#NewExpiryYear').val(parseInt(value.slice(-2)));

    });

    function setNewExpiryYear(item) {
        var selectedVal = parseInt(item.value);
        $('#NewExpiryYear').val(selectedVal);
    }

    function fun_add_success(ele, data, xhr) {
        if (data.status == "1") {
            window.location = "/Manage/Index?message=&tabId=1";
        }
        else {
            $('#textMainMessage').show();
            $('#textMainMessage').removeClass('alert alert-success');
            $('#textMainMessage').addClass('alert alert-danger');
            $('#textMainMessage').text(data.data);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        //$.confirm({
        //    title: "warning",
        //    content: "test",
        //    theme: 'modern',
        //    type: 'orange',
        //    typeAnimated: true,
        //    closeIcon: true,
        //    columnClass: 'jconfirm-small',
        //    buttons: {
        //        tryAgain: {
        //            text: 'Confirm',
        //            btnClass: 'btn-red',
        //            action: function () {
        //                document.getElementById(triggerClick).click();
        //            }
        //        },
        //        cancel: function () {
        //        }
        //    }
        //});
    }

    function fun_add_fail(data) {
        $('#textMainMessage').show();
        $('#textMainMessage').removeClass('alert alert-success');
        $('#textMainMessage').addClass('alert alert-danger');
         var massage = "@Localizer["Something went wrong, please try again."]";
        $('#textMainMessage').text(massage);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    };

    function showEditDetail() {
        $('#divUpdate').show();
        $('#divAdd').empty();
        $('#divAdd').hide();


    };

</script>

