@model RenewalWebsite.Models.InvoiceHistoryModel
@using System.Globalization


@if (Model == null || !Model.InvoiceHistory.Any())
{
    <p>@Localizer["You have no invoices."]</p>
}
else
{
    <div class="col-lg-12" style="margin-top:15px;">
        <table class="table table-bordered table-hover table-responsive" width="100%">
            <thead>
                <tr>
                    <th>@Localizer["Date"]</th>
                    <th>@Localizer["Currency"]</th>
                    <th>@Localizer["Amount"]</th>
                    @if (Model.displayConversion == true)
                    {
                        <th>@Localizer["Exchange Rate"]</th>
                    }
                    @if (Model.showUSDConversion == true)
                    {
                        <th>@Localizer["USD Amount"]</th>
                    }
                    <th>@Localizer["Method"]</th>
                    <th>@Localizer["Invoice Number"]</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var subscription in Model.InvoiceHistory)
                {
                    <tr>
                        <td style="vertical-align:middle;" class="text-left">@(subscription.Date != null ? subscription.Date.ToString("dd-MMM-yyyy", new CultureInfo("en-US")) : "")</td>
                        <td style="vertical-align:middle;" class="text-center">@subscription.Currency</td>
                        <td style="vertical-align:middle;" class="text-right">@(string.Format("{0:C}", subscription.Amount).Replace("$", "").Replace("¥", ""))</td>
                        @if (Model.displayConversion == true)
                        {
                            <td style="vertical-align:middle;" class="text-right">@(string.Format("{0:C}", subscription.ExchangeRate).Replace("$", "").Replace("¥", ""))</td>
                        }
                        @if (Model.showUSDConversion == true)
                        {
                            <td style="vertical-align:middle;" class="text-right">@(string.Format("{0:C}", subscription.USDAmount).Replace("$", "").Replace("¥", ""))</td>
                        }

                        <td style="vertical-align:middle;" class="text-left">@subscription.Method</td>
                        <td style="vertical-align:middle;" class="text-left">@subscription.InvoiceNumber</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                @if (Model.Type == 1)
                {
                    <tr>
                        <td colspan="4" class="text-right"><strong>Total</strong></td>
                        <td colspan="1" class="text-right"><strong>@Model.InvoiceHistory.Sum(a => a.USDAmount)</strong></td>
                        <td colspan="2"></td>
                    </tr>
                }
                else if (Model.Type == 2)
                {

                    <tr>
                        <td colspan="2" class="text-right"><strong>Total</strong></td>
                        <td colspan="1" class="text-right"><strong>@Model.InvoiceHistory.Sum(a => a.Amount)</strong></td>
                        <td colspan="2"></td>
                    </tr>
                }
                else
                {
                    if (Model.displayConversion == true)
                    {
                        <tr>
                            <td colspan="2" class="text-right"><strong>Total</strong></td>
                            <td colspan="1" class="text-right"><strong>@Model.InvoiceHistory.Sum(a => a.Amount)</strong></td>
                            <td colspan="2" class="text-right"><strong>@Model.InvoiceHistory.Sum(a => a.USDAmount)</strong></td>
                            <td colspan="2"></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-right"><strong>Total</strong></td>
                            <td colspan="1" class="text-right"><strong>@Model.InvoiceHistory.Sum(a => a.Amount)</strong></td>
                            <td colspan="2"></td>
                        </tr>
                    }
                }
            </tfoot>
        </table>
    </div>
}
