@model RenewalWebsite.Models.ManageViewModels.CardViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<form id="update" asp-controller="Manage" asp-action="DeleteCard" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-success="fun_success" data-ajax-failure="fun_fail">
    <fieldset>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ExpiryYear">
        <input hidden asp-for="cardId" />
        <div class="form-group">
            <label class="col-sm-3 control-label">@Localizer["Card Number"]</label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" readonly class="form-control" asp-for="Last4Digit" value="****@Model.Last4Digit" />
                    <p class="well" style="margin-top:5px;margin-bottom:0px;margin-left:5px;"></p>
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="col-sm-3 control-label" asp-for="Name"></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>*@
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group col-md-6 col-sm-6">
                        <label class="control-label" asp-for="ExpiryMonth">@Localizer["Expiration Date"]</label>
                        <div>
                            <div class="row">
                                <div class="col-3" style="padding-right:0px;">
                                    <select class="form-control" asp-for="ExpiryMonth">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="col-3" style="padding-left:5px;">
                                    <select class="form-control" id="UpdateExpiryYear" name="UpdateExpiryYear" onchange="setExpiryYear(this)"></select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<span asp-validation-for="ExpiryMonth" class="text-danger"></span>
            <span asp-validation-for="ExpiryYear" class="text-danger"></span>*@
        <div class="form-group">
            <div class="col-sm-12">
                <input type="button" value="@Localizer["Edit"]" class="btn btn-secondary" onclick="OpenAddNewCard()" />
                <input type="button" id="delete" value="@Localizer["Delete"]" class="btn btn-secondary" onclick="deleteAddNewCard()" />
            </div>
        </div>
    </fieldset>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>@Localizer["For your security, Renewal does not store credit card details. Stripe is our secure payment provider."]</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var year = new Date().getFullYear();
        for (var i = 0; i < 10; i++) {
            var value = (year + i).toString();
            var opt = new Option(value, value.slice(-2));
            $('#UpdateExpiryYear').append(opt);
        }

        var value = (year).toString();
        $('#UpdateExpiryYear').val(parseInt(value.slice(-2)));
        var cardClass = "@Model.CardClass";
        $('#Last4Digit').addClass(cardClass);
    });

    function setExpiryYear(item) {
        var selectedVal = parseInt(item.value);
        $('#ExpiryYear').val(selectedVal);
    }

    function fun_success(data) {
        if (data.status == "1") {
            window.location = "/Manage?tabId=1";
        }
        else {
            $('#textMainMessage').show();
            $('#textMainMessage').removeClass('alert alert-success');
            $('#textMainMessage').addClass('alert alert-danger');
            $('#textMainMessage').text(data.data);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }
    }



    function fun_fail(data) {
        $('#textMainMessage').show();
        $('#textMainMessage').removeClass('alert alert-success');
        $('#textMainMessage').addClass('alert alert-danger');
        var massage = "@Localizer["Something went wrong, please try again."]";
        $('#textMainMessage').text(massage);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }

    function OpenAddNewCard() {
        $('#divUpdate').hide();
        $.ajax({
            url: "/Manage/AddNewCard",
            data: {},
            success: function (result) {
                $('#divAdd').show();
                $('#divAdd').html(result);
            }
        });
    }

    function deleteAddNewCard() {
        var result = confirm("@Localizer["Are you sure you want to remove this card?"]");
        if (result) {
            //Logic to delete the card
            $("#update").trigger('submit');
        }
        else {
            return;
        }
    };
        @*var warning =  "@Localizer["warning"]";
        var content = "@Localizer["Are you sure you want to remove this card?"]";
        var Confirm = "@Localizer["Confirm"]";
        var cancel = "@Localizer["cancel"]";
        $.confirm({
            title: warning,
            content: content,
            theme: 'modern',
            type: 'orange',
            typeAnimated: true,
            closeIcon: true,
            columnClass: 'jconfirm-small',
            buttons: {
                tryAgain: {
                    text: Confirm,
                    btnClass: 'btn-red',
                    action: function () {

                       // document.getElementById("delete").click();
                        $("#update").trigger('submit');
                        $.ajax({
                          //  url: "/Manage/AddNewCard",
                            data: {},
                            success: function (result) {
                                //$('#divAdd').show();
                                //$('#divAdd').html(result);
                                $('#divUpdate').hide();
                            }
                        });
                    }
                },
                cancel: {
                    text: cancel,
                    btnClass: 'btn-red'
                }
            }
        });
        };*@


</script>
