@model ManageLoginsViewModel
@using RenewalWebsite.Resources
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = DataAnnotations.ManageExternalLogin;
}

<h2>@ViewData["Title"]</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>
@if (Model.CurrentLogins.Count > 0)
{
    <h4>Registered Logins</h4>
    <table class="table">
        <tbody>
            @for (var index = 0; index < Model.CurrentLogins.Count; index++)
            {
                <tr>
                    <td>@Model.CurrentLogins[index].LoginProvider</td>
                    <td>
                        @if ((bool)ViewData["ShowRemoveButton"])
                        {
                            <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal">
                                <div>
                                    <input asp-for="@Model.CurrentLogins[index].LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@Model.CurrentLogins[index].ProviderKey" name="ProviderKey" type="hidden" />
                                    <input type="submit" class="btn btn-default" value="Remove" title="@DataAnnotations.RemoveThis @Model.CurrentLogins[index].LoginProvider @DataAnnotations.LoginFromAccount" />
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins.Count > 0)
{
    <h4>@DataAnnotations.AddAnotherService</h4>
    <hr />
    <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    string externalLogin;
                    if (provider.Name.ToLower().Equals("google"))
                    {
                        externalLogin = DataAnnotations.Google;
                    }
                    else if (provider.Name.ToLower().Equals("microsoft"))
                    {
                        externalLogin = DataAnnotations.Microsoft;
                    }
                    else
                    {
                        externalLogin = DataAnnotations.Facebook;
                    }
                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="@DataAnnotations.LoginYour @externalLogin @DataAnnotations.Account">@externalLogin</button>
                }
            </p>
        </div>
    </form>
}
