
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity

@model RenewalWebsite.Models.AccountViewModels.ExternalLoginConfirmationViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register"];
}

<h2>@ViewData["Title"]</h2>
<h3>@Localizer["Associate your"] @ViewData["LoginProvider"] @Localizer["account."]</h3>

<h4>@Localizer["Association Form"]</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label">@Localizer["Email"]</label>
    <div class="col-md-10">
        <input asp-for="Email" class="form-control" disabled="disabled" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" asp-action="Login" asp-controller=Account>@Localizer["Log in"]</a>
    </div>
</div>

