@model RenewalWebsite.Models.AccountViewModels.RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Register"];
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>@Localizer["Create a new account."]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="TimeZone" type="hidden">
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">@Localizer["Email"]</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">@Localizer["Password"]</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">@Localizer["Confirm password"]</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <img id="img-captcha" src="~/api/Captcha/get-captcha-image" />
            <i class="fa fa-refresh" aria-hidden="true" style="margin-left:10px;cursor:pointer;" id="refresh-captcha"></i>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
            <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Localizer["Register"]</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script type="text/javascript">
    $(document).ready(function () {
        var sign = (moment(new Date()).zone()) < 0 ? "+" : "-";
        var hour = (moment(new Date()).zone()) < 0 ? (Math.round(((moment(new Date()).zone()) / 60)) * -1) : Math.floor(((moment(new Date()).zone()) / 60));
        var minutes = (moment(new Date()).zone() < 0 ? ((moment(new Date()).zone() * -1) % 60) : ((moment(new Date()).zone() % 60)));
        var timezone = "UTC " + sign + (hour < 10 ? "0" + hour : hour) + ":" + (minutes < 10 ? "0" + minutes : minutes);
        $('#TimeZone').val(timezone);
        $("#CaptchaCode").val("");
    });

    $("#refresh-captcha").click(function () {
        resetCaptchaImage();
    });

    function resetCaptchaImage() {
        d = new Date();
        $("#img-captcha").attr("src", "/api/Captcha/get-captcha-image?" + d.getTime());
    }
</script>