@using RenewalWebsite.Controllers
@using RenewalWebsite.Services
@model RenewalWebsite.Models.CustomerPaymentViewModel
@inject ICurrencyService CurrencyService

@{
    ViewBag.Title = "Credit Card";
    var currency = CurrencyService.GetCurrent();
}
<style>
    .ccFormatMonitor p::after {
        content: url('/images/Default.png');
    }

    .ccFormatMonitor.cc_type_vs + p::after {
        content: url('/images/Visa.png');
    }

    .ccFormatMonitor.cc_type_jc + p::after {
        content: url('/images/JCB.png');
    }

    .ccFormatMonitor.cc_type_dci + p::after {
        content: url('/images/Diners-Club-International-icon.png');
    }

    .ccFormatMonitor.cc_type_dccb + p::after {
        content: url('/images/Diners-Club-International-icon.png');
    }

    .ccFormatMonitor.cc_type_mc + p::after {
        content: url('/images/MasterCard.png');
    }

    .ccFormatMonitor.cc_type_mcs + p::after {
        content: url('/images/MasterCard.png');
    }

    .ccFormatMonitor.cc_type_mas + p::after {
        content: url('/images/Mastro.png');
    }

    .ccFormatMonitor.cc_type_dis + p::after {
        content: url('/images/Discover.png');
    }

    .ccFormatMonitor.cc_type_union + p::after {
        content: url('/images/UnionPay.png');
    }

    .ccFormatMonitor.cc_type_ax + p::after {
        content: url('/images/AmericalExpress.png');
    }

    .ccFormatMonitor.cc_type_unknown + p::after {
        content: url('/images/Default.png');
    }
</style>
<div class="container">
    <h2 class="red-border">
        Your @Model.Frequency.ToLower() gift of @CurrencyService.GetSymbol(currency)@Model.Amount
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-0 col-md-6">
            <form action="/donation/payment" method="POST" role="form">
                <fieldset>
                    <legend>Please enter your details below:</legend>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input hidden asp-for="Frequency" />
                    <input hidden asp-for="Amount" />
                    <input hidden asp-for="Description" />
                    <input hidden asp-for="DonationId" />
                    <input asp-for="TimeZone" type="hidden">
                    <input type="hidden" asp-for="ExpiryYear" />
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="Name" class="col-form-label sr-only">@Localizer["Full Name"]</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="@Localizer["Full Name"]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="AddressLine1" class="col-form-label sr-only">@Localizer["Address Line 1"]</label>
                            <input asp-for="AddressLine1" class="form-control" placeholder="@Localizer["Address Line 1"]" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="AddressLine2" class="col-form-label sr-only">@Localizer["Address Line Two"]</label>
                            <input asp-for="AddressLine2" class="form-control" placeholder="@Localizer["Address Line Two"]" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 pr5">
                            <label asp-for="City" class="col-form-label sr-only">@Localizer["City"]</label>
                            <input asp-for="City" class="form-control" placeholder="@Localizer["City"]" />
                        </div>
                        <div class="col-6 p15">
                            <label asp-for="State" class="col-form-label sr-only">@Localizer["State/Province"]</label>
                            <input asp-for="State" class="form-control" placeholder="@Localizer["State/Province"]" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 pr5">
                            <label asp-for="Zip" class="col-form-label sr-only">@Localizer["ZIP/Postal Code"]</label>
                            <input asp-for="Zip" class="form-control" placeholder="@Localizer["ZIP/Postal Code"]" />
                        </div>
                        <div class="col-6 p15">
                            <label asp-for="City" class="col-form-label sr-only">@Localizer["Country"]</label>
                            <select asp-for="Country" class="form-control">
                                <option value="">@Localizer["(please select a country)"]</option>
                                <option value="AF">@Localizer["Afghanistan"]</option>
                                <option value="AL">@Localizer["Albania"]</option>
                                <option value="DZ">@Localizer["Algeria"]</option>
                                <option value="AS">@Localizer["American Samoa"]</option>
                                <option value="AD">@Localizer["Andorra"]</option>
                                <option value="AO">@Localizer["Angola"]</option>
                                <option value="AI">@Localizer["Anguilla"]</option>
                                <option value="AQ">@Localizer["Antarctica"]</option>
                                <option value="AG">@Localizer["Antigua and Barbuda"]</option>
                                <option value="AR">@Localizer["Argentina"]</option>
                                <option value="AM">@Localizer["Armenia"]</option>
                                <option value="AW">@Localizer["Aruba"]</option>
                                <option value="AU">@Localizer["Australia"]</option>
                                <option value="AT">@Localizer["Austria"]</option>
                                <option value="AZ">@Localizer["Azerbaijan"]</option>
                                <option value="BS">@Localizer["Bahamas"]</option>
                                <option value="BH">@Localizer["Bahrain"]</option>
                                <option value="BD">@Localizer["Bangladesh"]</option>
                                <option value="BB">@Localizer["Barbados"]</option>
                                <option value="BY">@Localizer["Belarus"]</option>
                                <option value="BE">@Localizer["Belgium"]</option>
                                <option value="BZ">@Localizer["Belize"]</option>
                                <option value="BJ">@Localizer["Benin"]</option>
                                <option value="BM">@Localizer["Bermuda"]</option>
                                <option value="BT">@Localizer["Bhutan"]</option>
                                <option value="BO">@Localizer["Bolivia"]</option>
                                <option value="BA">@Localizer["Bosnia and Herzegowina"]</option>
                                <option value="BW">@Localizer["Botswana"]</option>
                                <option value="BV">@Localizer["Bouvet Island"]</option>
                                <option value="BR">@Localizer["Brazil"]</option>
                                <option value="IO">@Localizer["British Indian Ocean Territory"]</option>
                                <option value="BN">@Localizer["Brunei Darussalam"]</option>
                                <option value="BG">@Localizer["Bulgaria"]</option>
                                <option value="BF">@Localizer["Burkina Faso"]</option>
                                <option value="BI">@Localizer["Burundi"]</option>
                                <option value="KH">@Localizer["Cambodia"]</option>
                                <option value="CM">@Localizer["Cameroon"]</option>
                                <option value="CA">@Localizer["Canada"]</option>
                                <option value="CV">@Localizer["Cape Verde"]</option>
                                <option value="KY">@Localizer["Cayman Islands"]</option>
                                <option value="CF">@Localizer["Central African Republic"]</option>
                                <option value="TD">@Localizer["Chad"]</option>
                                <option value="CL">@Localizer["Chile"]</option>
                                <option value="CN">@Localizer["China"]</option>
                                <option value="CX">@Localizer["Christmas Island"]</option>
                                <option value="CC">@Localizer["Cocos (Keeling) Islands"]</option>
                                <option value="CO">@Localizer["Colombia"]</option>
                                <option value="KM">@Localizer["Comoros"]</option>
                                <option value="CG">@Localizer["Congo"]</option>
                                <option value="CD">@Localizer["Congo, the Democratic Republic of the"]</option>
                                <option value="CK">@Localizer["Cook Islands"]</option>
                                <option value="CR">@Localizer["Costa Rica"]</option>
                                <option value="CI">@Localizer["Cote d'Ivoire"]</option>
                                <option value="HR">@Localizer["Croatia (Hrvatska)"]</option>
                                <option value="CU">@Localizer["Cuba"]</option>
                                <option value="CY">@Localizer["Cyprus"]</option>
                                <option value="CZ">@Localizer["Czech Republic"]</option>
                                <option value="DK">@Localizer["Denmark"]</option>
                                <option value="DJ">@Localizer["Djibouti"]</option>
                                <option value="DM">@Localizer["Dominica"]</option>
                                <option value="DO">@Localizer["Dominican Republic"]</option>
                                <option value="TP">@Localizer["East Timor"]</option>
                                <option value="EC">@Localizer["Ecuador"]</option>
                                <option value="EG">@Localizer["Egypt"]</option>
                                <option value="SV">@Localizer["El Salvador"]</option>
                                <option value="GQ">@Localizer["Equatorial Guinea"]</option>
                                <option value="ER">@Localizer["Eritrea"]</option>
                                <option value="EE">@Localizer["Estonia"]</option>
                                <option value="ET">@Localizer["Ethiopia"]</option>
                                <option value="FK">@Localizer["Falkland Islands (Malvinas)"]</option>
                                <option value="FO">@Localizer["Faroe Islands"]</option>
                                <option value="FJ">@Localizer["Fiji"]</option>
                                <option value="FI">@Localizer["Finland"]</option>
                                <option value="FR">@Localizer["France"]</option>
                                <option value="FX">@Localizer["France, Metropolitan"]</option>
                                <option value="GF">@Localizer["French Guiana"]</option>
                                <option value="PF">@Localizer["French Polynesia"]</option>
                                <option value="TF">@Localizer["French Southern Territories"]</option>
                                <option value="GA">@Localizer["Gabon"]</option>
                                <option value="GM">@Localizer["Gambia"]</option>
                                <option value="GE">@Localizer["Georgia"]</option>
                                <option value="DE">@Localizer["Germany"]</option>
                                <option value="GH">@Localizer["Ghana"]</option>
                                <option value="GI">@Localizer["Gibraltar"]</option>
                                <option value="GR">@Localizer["Greece"]</option>
                                <option value="GL">@Localizer["Greenland"]</option>
                                <option value="GD">@Localizer["Grenada"]</option>
                                <option value="GP">@Localizer["Guadeloupe"]</option>
                                <option value="GU">@Localizer["Guam"]</option>
                                <option value="GT">@Localizer["Guatemala"]</option>
                                <option value="GN">@Localizer["Guinea"]</option>
                                <option value="GW">@Localizer["Guinea-Bissau"]</option>
                                <option value="GY">@Localizer["Guyana"]</option>
                                <option value="HT">@Localizer["Haiti"]</option>
                                <option value="HM">@Localizer["Heard and Mc Donald Islands"]</option>
                                <option value="VA">@Localizer["Holy See (Vatican City State)"]</option>
                                <option value="HN">@Localizer["Honduras"]</option>
                                <option value="HK">@Localizer["Hong Kong"]</option>
                                <option value="HU">@Localizer["Hungary"]</option>
                                <option value="IS">@Localizer["Iceland"]</option>
                                <option value="IN">@Localizer["India"]</option>
                                <option value="ID">@Localizer["Indonesia"]</option>
                                <option value="IR">@Localizer["Iran (Islamic Republic of)"]</option>
                                <option value="IQ">@Localizer["Iraq"]</option>
                                <option value="IE">@Localizer["Ireland"]</option>
                                <option value="IL">@Localizer["Israel"]</option>
                                <option value="IT">@Localizer["Italy"]</option>
                                <option value="JM">@Localizer["Jamaica"]</option>
                                <option value="JP">@Localizer["Japan"]</option>
                                <option value="JO">@Localizer["Jordan"]</option>
                                <option value="KZ">@Localizer["Kazakhstan"]</option>
                                <option value="KE">@Localizer["Kenya"]</option>
                                <option value="KI">@Localizer["Kiribati"]</option>
                                <option value="KP">@Localizer["Korea, Democratic People's Republic of"]</option>
                                <option value="KR">@Localizer["Korea, Republic of"]</option>
                                <option value="KW">@Localizer["Kuwait"]</option>
                                <option value="KG">@Localizer["Kyrgyzstan"]</option>
                                <option value="LA">@Localizer["Lao People's Democratic Republic"]</option>
                                <option value="LV">@Localizer["Latvia"]</option>
                                <option value="LB">@Localizer["Lebanon"]</option>
                                <option value="LS">@Localizer["Lesotho"]</option>
                                <option value="LR">@Localizer["Liberia"]</option>
                                <option value="LY">@Localizer["Libyan Arab Jamahiriya"]</option>
                                <option value="LI">@Localizer["Liechtenstein"]</option>
                                <option value="LT">@Localizer["Lithuania"]</option>
                                <option value="LU">@Localizer["Luxembourg"]</option>
                                <option value="MO">@Localizer["Macau"]</option>
                                <option value="MK">@Localizer["Macedonia, The Former Yugoslav Republic of"]</option>
                                <option value="MG">@Localizer["Madagascar"]</option>
                                <option value="MW">@Localizer["Malawi"]</option>
                                <option value="MY">@Localizer["Malaysia"]</option>
                                <option value="MV">@Localizer["Maldives"]</option>
                                <option value="ML">@Localizer["Mali"]</option>
                                <option value="MT">@Localizer["Malta"]</option>
                                <option value="MH">@Localizer["Marshall Islands"]</option>
                                <option value="MQ">@Localizer["Martinique"]</option>
                                <option value="MR">@Localizer["Mauritania"]</option>
                                <option value="MU">@Localizer["Mauritius"]</option>
                                <option value="YT">@Localizer["Mayotte"]</option>
                                <option value="MX">@Localizer["Mexico"]</option>
                                <option value="FM">@Localizer["Micronesia, Federated States of"]</option>
                                <option value="MD">@Localizer["Moldova, Republic of"]</option>
                                <option value="MC">@Localizer["Monaco"]</option>
                                <option value="MN">@Localizer["Mongolia"]</option>
                                <option value="MS">@Localizer["Montserrat"]</option>
                                <option value="MA">@Localizer["Morocco"]</option>
                                <option value="MZ">@Localizer["Mozambique"]</option>
                                <option value="MM">@Localizer["Myanmar"]</option>
                                <option value="NA">@Localizer["Namibia"]</option>
                                <option value="NR">@Localizer["Nauru"]</option>
                                <option value="NP">@Localizer["Nepal"]</option>
                                <option value="NL">@Localizer["Netherlands"]</option>
                                <option value="AN">@Localizer["Netherlands Antilles"]</option>
                                <option value="NC">@Localizer["New Caledonia"]</option>
                                <option value="NZ">@Localizer["New Zealand"]</option>
                                <option value="NI">@Localizer["Nicaragua"]</option>
                                <option value="NE">@Localizer["Niger"]</option>
                                <option value="NG">@Localizer["Nigeria"]</option>
                                <option value="NU">@Localizer["Niue"]</option>
                                <option value="NF">@Localizer["Norfolk Island"]</option>
                                <option value="MP">@Localizer["Northern Mariana Islands"]</option>
                                <option value="NO">@Localizer["Norway"]</option>
                                <option value="OM">@Localizer["Oman"]</option>
                                <option value="PK">@Localizer["Pakistan"]</option>
                                <option value="PW">@Localizer["Palau"]</option>
                                <option value="PA">@Localizer["Panama"]</option>
                                <option value="PG">@Localizer["Papua New Guinea"]</option>
                                <option value="PY">@Localizer["Paraguay"]</option>
                                <option value="PE">@Localizer["Peru"]</option>
                                <option value="PH">@Localizer["Philippines"]</option>
                                <option value="PN">@Localizer["Pitcairn"]</option>
                                <option value="PL">@Localizer["Poland"]</option>
                                <option value="PT">@Localizer["Portugal"]</option>
                                <option value="PR">@Localizer["Puerto Rico"]</option>
                                <option value="QA">@Localizer["Qatar"]</option>
                                <option value="RE">@Localizer["Reunion"]</option>
                                <option value="RO">@Localizer["Romania"]</option>
                                <option value="RU">@Localizer["Russian Federation"]</option>
                                <option value="RW">@Localizer["Rwanda"]</option>
                                <option value="KN">@Localizer["Saint Kitts and Nevis"]</option>
                                <option value="LC">@Localizer["Saint LUCIA"]</option>
                                <option value="VC">@Localizer["Saint Vincent and the Grenadines"]</option>
                                <option value="WS">@Localizer["Samoa"]</option>
                                <option value="SM">@Localizer["San Marino"]</option>
                                <option value="ST">@Localizer["Sao Tome and Principe"]</option>
                                <option value="SA">@Localizer["Saudi Arabia"]</option>
                                <option value="SN">@Localizer["Senegal"]</option>
                                <option value="SC">@Localizer["Seychelles"]</option>
                                <option value="SL">@Localizer["Sierra Leone"]</option>
                                <option value="SG">@Localizer["Singapore"]</option>
                                <option value="SK">@Localizer["Slovakia (Slovak Republic)"]</option>
                                <option value="SI">@Localizer["Slovenia"]</option>
                                <option value="SB">@Localizer["Solomon Islands"]</option>
                                <option value="SO">@Localizer["Somalia"]</option>
                                <option value="ZA">@Localizer["South Africa"]</option>
                                <option value="GS">@Localizer["South Georgia and the South Sandwich Islands"]</option>
                                <option value="ES">@Localizer["Spain"]</option>
                                <option value="LK">@Localizer["Sri Lanka"]</option>
                                <option value="SH">@Localizer["St. Helena"]</option>
                                <option value="PM">@Localizer["St. Pierre and Miquelon"]</option>
                                <option value="SD">@Localizer["Sudan"]</option>
                                <option value="SR">@Localizer["Suriname"]</option>
                                <option value="SJ">@Localizer["Svalbard and Jan Mayen Islands"]</option>
                                <option value="SZ">@Localizer["Swaziland"]</option>
                                <option value="SE">@Localizer["Sweden"]</option>
                                <option value="CH">@Localizer["Switzerland"]</option>
                                <option value="SY">@Localizer["Syrian Arab Republic"]</option>
                                <option value="TW">@Localizer["Taiwan, Province of China"]</option>
                                <option value="TJ">@Localizer["Tajikistan"]</option>
                                <option value="TZ">@Localizer["Tanzania, United Republic of"]</option>
                                <option value="TH">@Localizer["Thailand"]</option>
                                <option value="TG">@Localizer["Togo"]</option>
                                <option value="TK">@Localizer["Tokelau"]</option>
                                <option value="TO">@Localizer["Tonga"]</option>
                                <option value="TT">@Localizer["Trinidad and Tobago"]</option>
                                <option value="TN">@Localizer["Tunisia"]</option>
                                <option value="TR">@Localizer["Turkey"]</option>
                                <option value="TM">@Localizer["Turkmenistan"]</option>
                                <option value="TC">@Localizer["Turks and Caicos Islands"]</option>
                                <option value="TV">@Localizer["Tuvalu"]</option>
                                <option value="UG">@Localizer["Uganda"]</option>
                                <option value="UA">@Localizer["Ukraine"]</option>
                                <option value="AE">@Localizer["United Arab Emirates"]</option>
                                <option value="GB">@Localizer["United Kingdom"]</option>
                                <option value="US">@Localizer["United States"]</option>
                                <option value="UM">@Localizer["United States Minor Outlying Islands"]</option>
                                <option value="UY">@Localizer["Uruguay"]</option>
                                <option value="UZ">@Localizer["Uzbekistan"]</option>
                                <option value="VU">@Localizer["Vanuatu"]</option>
                                <option value="VE">@Localizer["Venezuela"]</option>
                                <option value="VN">@Localizer["Viet Nam"]</option>
                                <option value="VG">@Localizer["Virgin Islands (British)"]</option>
                                <option value="VI">@Localizer["Virgin Islands (U.S.)"]</option>
                                <option value="WF">@Localizer["Wallis and Futuna Islands"]</option>
                                <option value="EH">@Localizer["Western Sahara"]</option>
                                <option value="YE">@Localizer["Yemen"]</option>
                                <option value="YU">@Localizer["Yugoslavia"]</option>
                                <option value="ZM">@Localizer["Zambia"]</option>
                                <option value="ZW">@Localizer["Zimbabwe"]</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="CardNumber" class="col-form-label sr-only">@Localizer["Card Number"]</label>
                            <div class="input-group">
                                <input type="text" class="ccFormatMonitor form-control cc_type_unknown" asp-for="CardNumber" placeholder="@Localizer["Debit/Credit Card Number"]" data-blur-credit-card autocomplete="off">
                                <p class="well" style="margin-top:5px;margin-bottom:0px;margin-left:5px;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-sm-12">
                            <label class="control-label" asp-for="ExpiryMonth">@Localizer["Expiration Date"]</label>
                            <div>
                                <div class="row">
                                    <div class="col-6 pr5">
                                        <select class="form-control" asp-for="ExpiryMonth">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-6 pl5">
                                        <select class="form-control" id="AddExpiryYear" name="AddExpiryYear" onchange="setNewExpiryYear(this)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 form-group">
                            <label class="control-label" asp-for="Cvc">@Localizer["Security Code"]</label>
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" asp-for="Cvc" placeholder="@Localizer["CVV/CVC"]" maxlength="3" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-secondary" type="submit">@Localizer["Submit Payment"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>For your security, Renewal does not store credit card details. Stripe is our secure payment provider.</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var sign = (moment(new Date()).zone()) < 0 ? "+" : "-";
        var hour = (moment(new Date()).zone()) < 0 ? (Math.round(((moment(new Date()).zone()) / 60)) * -1) : Math.floor(((moment(new Date()).zone()) / 60));
        var minutes = (moment(new Date()).zone() < 0 ? ((moment(new Date()).zone() * -1) % 60) : ((moment(new Date()).zone() % 60)));
        var timezone = "UTC " + sign + (hour < 10 ? "0" + hour : hour) + ":" + (minutes < 10 ? "0" + minutes : minutes);
        $('#TimeZone').val(timezone);

        var year = new Date().getFullYear();
        for (var i = 0; i < 10; i++) {
            var value = (year + i).toString();
            var opt = new Option(value, value.slice(-2));
            $('#AddExpiryYear').append(opt);
        }

        var value = (year).toString();
        $('#ExpiryYear').val(parseInt(value.slice(-2)));
    });

    function setNewExpiryYear(item) {
        var selectedVal = parseInt(item.value);
        $('#ExpiryYear').val(selectedVal);
    }
</script>
