@using RenewalWebsite.Controllers
@using RenewalWebsite.Services
@model RenewalWebsite.Models.CustomerRePaymentViewModel
@inject ICurrencyService CurrencyService

@{
    ViewBag.Title = Localizer["Payment"];
    var currency = CurrencyService.GetCurrent();
}
<div class="container">
    <h2 class="red-border">
        @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("zh"))
        {
            <label>您将@(Model.Frequency.ToLower())捐赠@(CurrencyService.GetSymbol(currency))@(Model.Amount)</label>
        }

        @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
        {
            <text> Your @Model.Frequency.ToLower() gift of @CurrencyService.GetSymbol(currency)@Model.Amount</text>
        }
        @*@Localizer["Your"] @Model.Frequency.ToLower() @Localizer["gift of"] @CurrencyService.GetSymbol(currency)@Model.Amount*@
    </h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-0 col-md-6">
            <form asp-action="RePayment" asp-controller="Donation" method="POST" role="form">
                <fieldset>
                    <legend>@Localizer["Please enter your details below:"]</legend>
                    <legend class="Subtitle" style="font-size:16px !important">@Localizer["Your name as you'd it to appear in our records (required)"]</legend>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input hidden asp-for="Frequency" />
                    <input hidden asp-for="Amount" />
                    <input hidden asp-for="Description" />
                    <input hidden asp-for="DonationId" />
                    <input asp-for="TimeZone" type="hidden">
                    <div class="form-group row" style="overflow:inherit;">
                        <div class="col-lg-12">
                            <label asp-for="Name" class="col-form-label sr-only">Name</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                        </div>
                    </div>
                    @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("zh"))
                    {
                        <legend class="Subtitle" style="font-size:16px !important">@Localizer["The address at which you'd like to receive Renewal communications (optional, not related with card verification)"]</legend>
                        <div class="form-group row">
                            <div class="col-6 p15">
                                <label asp-for="Country" class="col-form-label sr-only">@Localizer["Country"]</label>
                                <div class="box">
                                    <select asp-for="Country" class="wide">
                                        <option value="">@Localizer["(Please select a country)"]</option>
                                        @foreach (var item in Model.countries)
                                        {
                                            <option value="@item.Code">@item.Country</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6 pr5">
                                <label asp-for="State" class="col-form-label sr-only">@Localizer["State/Province"]</label>
                                <input asp-for="State" class="form-control" placeholder="@Localizer["State/Province"]" />
                            </div>
                            <div class="col-6 p15">
                                <label asp-for="City" class="col-form-label sr-only">@Localizer["City"]</label>
                                <input asp-for="City" class="form-control" placeholder="@Localizer["City"]" />
                            </div>
                        </div>
                    }
                    @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
                    {
                        <legend style="font-size:16px !important">@Localizer["The address at which you'd like to receive Renewal communications (optional, not related with card verification)"]</legend>
                    }
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="AddressLine1" class="col-form-label sr-only">@Localizer["Address Line 1"]</label>
                            <input asp-for="AddressLine1" class="form-control" placeholder="@Localizer["Address Line 1"]" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label asp-for="AddressLine2" class="col-form-label sr-only">@Localizer["Address Line 2"]</label>
                            <input asp-for="AddressLine2" class="form-control" placeholder="@Localizer["Address Line 2"]" />
                        </div>
                    </div>
                    @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
                    {
                        <div class="form-group row">
                            <div class="col-6 pr5">
                                <label asp-for="City" class="col-form-label sr-only">City</label>
                                <input asp-for="City" class="form-control" placeholder="City" />
                            </div>
                            <div class="col-6 p15">
                                <label asp-for="State" class="col-form-label sr-only">State / Province</label>
                                <input asp-for="State" class="form-control" placeholder="State / Province" />
                            </div>
                        </div>
                    }
                    <div class="form-group row" style="overflow:inherit;">
                        <div class="col-6 pr5">
                            <label asp-for="Zip" class="col-form-label sr-only">@Localizer["ZIP/Postal Code"]</label>
                            <input asp-for="Zip" class="form-control" placeholder="@Localizer["ZIP/Postal Code"]" />
                        </div>
                        @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
                        {
                            <div class="col-6 p15">
                                <label asp-for="Country" class="col-form-label sr-only">@Localizer["Country"]</label>
                                <div class="box">
                                    <select asp-for="Country" class="wide">
                                        <option value="">@Localizer["(Please select a country)"]</option>
                                        @foreach (var item in Model.countries)
                                        {
                                            <option value="@item.Code">@item.Country</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a href="/Donation/Payment/@Model.DonationId/1" class="btn btn-secondary">****@Model.Last4Digit @Localizer["Edit"]</a>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-secondary" type="submit">@Localizer["Submit Payment"]</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>@Localizer["For your security, Renewal does not store credit card details. Stripe is our secure payment provider."]</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var country = @Html.Raw(Json.Serialize(Model.Country));
        $('#Country').val(country);
        var sign = (moment(new Date()).zone()) < 0 ? "+" : "-";
        var hour = (moment(new Date()).zone()) < 0 ? (Math.round(((moment(new Date()).zone()) / 60)) * -1) : Math.floor(((moment(new Date()).zone()) / 60));
        var minutes = (moment(new Date()).zone() < 0 ? ((moment(new Date()).zone() * -1) % 60) : ((moment(new Date()).zone() % 60)));
        var timezone = "UTC " + sign + (hour < 10 ? "0" + hour : hour) + ":" + (minutes < 10 ? "0" + minutes : minutes);
        $('#TimeZone').val(timezone);
        $('select').niceSelect();
    });
</script>