@using RenewalWebsite.Controllers
@using RenewalWebsite.Services
@model RenewalWebsite.Models.CompletedViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject ICurrencyService CurrencyService
@{
    ViewBag.Title = Localizer["Thank you"];
    var currency = CurrencyService.GetCurrent();
}
@*<div>
        <h3>@Model.Message</h3>
    </div>*@


<div class="row">
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <img src="~/images/home/slide-eating.jpg" class="figure-img img-fluid" alt="donate page image">
        <figcaption class="figure-caption caption chinese">@Localizer["You are helping the Renewal Center continue to provide services, food and safe shelter for homeless people."]</figcaption>
    </div>
    <div class="col-lg-6 offset-lg-0 offset-md-2 col-md-8 offset-sm-1">
        <h2>@Localizer["Thank you!"]</h2>
        @*<p>Your card was charged successfully. Thank you for your kind gift of $100.</p>*@
        @if (Model.HasSubscriptions)
        {
            @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("zh"))
            {
            <p>扣款成功！你将会 @Localizer[@Model.Message1] 捐赠$@(Model.Message)。要管理或随时取消定期捐赠，请点击以下链接。</p>
            }

            @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
            {
                <p>Your card was charged successfully. Your gift of $@(Model.Message) will repeat@(string.IsNullOrEmpty(Model.Message1) ? string.Empty : " " + Model.Message1). To manage or cancel your subscription anytime, follow the link below.</p>
            }
            <a asp-controller="Manage" asp-action="Index" class="styled-link">@Localizer["See my subscriptions"]</a>
        }
        else
        {
            @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("zh"))
            {
                <p>交易成功！谢谢你$@(Model.Message)的捐赠。</p>
            }

            @if (CurrencyService.GetCurrentLanguage().TwoLetterISOLanguageName.ToLower().Equals("en"))
            {
                <p>Your card was charged successfully. Thank you for your kind gift of $@(Model.Message).</p>
            }
        }
    </div>
</div>
