@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
}
<footer class="mt-5">
    <div class="container">
        @*<div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-stack-2x"></i>
                                <i class="fa fa-weixin fa-stack-1x"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-12 text-center">
                <h6 class="text-danger">
                    @Localizer["Sign up for our email communications:"]
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @*<form class="contact mt-5">
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="InputName" class="col-form-label sr-only">Name</label>
                            <input type="text" class="form-control" id="InputName" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label for="InputEmail" class="col-form-label sr-only">Email</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary mb-5">SIGN UP<i class="arrow right-arrow"></i></button>
                </form>*@
                <form class="contact mt-5" action="https://www.getdrip.com/forms/627219863/submissions" method="post" data-drip-embedded-form="627219863">
                    <div data-drip-attribute="description"></div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="drip-contact-name" class="col-form-label sr-only">Name</label><br />
                            <input type="text" id="drip-contact-name" name="fields[contact_name]" class="form-control" value="" placeholder="@Localizer["Name"]"/>                            
                        </div>
                        <div class="col-6">
                            <label for="drip-email" class="col-form-label sr-only">Email Address</label><br />
                            <input type="email" id="drip-email" name="fields[email]" class="form-control" value="" placeholder="@Localizer["Email"]"/>
                        </div>
                        <input type="hidden" id="drip-language-preference" name="fields[language_preference]" value="@culture.RequestCulture.UICulture.TwoLetterISOLanguageName"/>
                    </div>
                    <button type="submit" name="submit" data-drip-attribute="sign-up-button" class="btn btn-secondary mb-5">@Localizer["Sign Up"]&nbsp;<i class="arrow right-arrow"></i></button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p class="copyright text-muted"> &copy; Renewal 365 Inc, 2017</p>
                @*<p class="copyright text-muted"> 沪ICP备102XXXX2号 | 上海工商 <img src="~/images/chines-cert.png"></p>*@
            </div>
        </div>
    </div>
</footer>
<!-- Drip -->