@model RenewalWebsite.Models.CustomerPaymentViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization
    <script src="~/js/jquery.buttonLoader.js"></script>
@if (Model.Subscriptions == null || !Model.Subscriptions.Any())
{
    <h4>@Localizer["Manage your recurring gifts"]</h4>
    <hr />
    <p>@Localizer["You have no recurring gifts."]</p>
}
else
{
    <div class="col-lg-12" style="margin-top:15px;">
        <table class="table table-bordered table-hover table-responsive" width="100%">
            <thead>
                <tr>
                    <th>@Localizer["Frequency"]</th>
                    <th>@Localizer["Amount"]</th>
                    <th>@Localizer["Currency"]</th>
                    <th>@Localizer["Status"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var subscription in Model.Subscriptions)
                {
                    <tr>
                        <td style="vertical-align:middle;">@Localizer[CultureInfo.CurrentCulture.TextInfo.ToTitleCase(subscription.Name.Split('_')[0].ToLower())]</td>
                        <td style="vertical-align:middle;" class="text-right">@(Convert.ToDecimal(subscription.Amount) / 100)</td>
                        <td style="vertical-align:middle;">@subscription.Currency.ToUpper()</td>
                        <td style="vertical-align:middle;">@Localizer[(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(subscription.Status))]</td>
                        <td style="vertical-align:middle;"><a href="javascript:void(0);" class="has-spinner btn btn-primary" id="@subscription.Id" data-ajax-value="@subscription.Id" onclick="deleteSubscription(this);">@Localizer["Cancel"]</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a asp-action="Index" asp-controller="Donate" class="btn btn-default">@Localizer["Make a gift now"]</a>
@*<a id="ankDeleteSubscriptionConfirmed" onclick="deleteSubscriptionConfirmFinal(); false" href="#"></a>*@

<script type="text/javascript">
    function deleteSubscription(item) {
        var result = confirm("@Localizer["Are you sure you want to cancel this subscription?"]");
        if (result) {
            //Logic to delete the item
            var id = $(item).attr("data-ajax-value");
            var btn = $('#' + id);
            $(btn).buttonLoader('start', "@Localizer["Please wait"]");
            $('#' + id).css("pointer-events", "none");
            $('#' + id).css("color", "White");
            window.location = "/Subscription/Delete?subscriptionId=" + id;
        }
        else {
            return;
        }
        //var id = $(item).attr("data-ajax-value");
        //deleteSubscriptionConfirm(id);
    };

    @*function deleteSubscriptionConfirm(id) {
        $("#ankDeleteSubscriptionConfirmed").attr("data-id", id);
         $.confirm({
            title: "@Localizer["warning"]",
            content: "@Localizer["Are you sure you want to cancel this subscription?"]",
            theme: 'modern',
            type: 'orange',
            typeAnimated: true,
            closeIcon: true,
            columnClass: 'jconfirm-small',
            buttons: {
                tryAgain: {
                    text: "@Localizer["Confirm"]",
                    btnClass: 'btn-red',
                    action: function () {
                        document.getElementById("ankDeleteSubscriptionConfirmed").click();
                    }
                },
                cancel: {
                    text: "@Localizer["Cancel"]",
                        btnClass: 'btn-red'
                }
            }
        });
        //ConfirmMsg(id, "ankDeleteSubscriptionConfirmed", "@Localizer["warning"]", "@Localizer["Are you sure you want to cancel this subscription?"]")
    }*@

    //function deleteSubscriptionConfirmFinal() {
    //    id = $("#ankDeleteSubscriptionConfirmed").attr("data-id");
    //    window.location = "../Subscription/Delete?subscriptionId=" + id;
    //};
</script>