@using RenewalWebsite.Resources
@model RenewalWebsite.Models.CustomerPaymentViewModel
@using System.Globalization


@if (Model.Subscriptions == null || !Model.Subscriptions.Any())
{
    <h4>@DataAnnotations.ManageYourSubscriptions</h4>
    <hr />
    <p>@DataAnnotations.YouHaveNoSubscriptions</p>
}
else
{
    <div class="col-lg-12" style="margin-top:15px;">
        <table class="table table-bordered table-hover table-responsive" width="100%">
            <thead>
                <tr>
                    <th>@DataAnnotations.Frequency</th>
                    <th>@DataAnnotations.Amount</th>
                    <th>@DataAnnotations.Currency</th>
                    <th>@DataAnnotations.Status</th>
                    <th>@DataAnnotations.Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var subscription in Model.Subscriptions)
                {
                    <tr>
                        <td style="vertical-align:middle;">@(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(subscription.Name))</td>
                        @*<td style="vertical-align:middle;" class="text-right">@(string.Format("{0:C}", Convert.ToDecimal(subscription.Amount) / 100).Replace("$", ""))</td>*@
                        <td style="vertical-align:middle;" class="text-right">@(string.Format("{0:#,0.00}", Convert.ToDecimal(subscription.Amount) / 100))</td>
                        <td style="vertical-align:middle;">@subscription.Currency.ToUpper()</td>
                        <td style="vertical-align:middle;">@(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(subscription.Status))</td>
                        <td style="vertical-align:middle;"><a href="javascript:void(0);" class="btn btn-primary" data-ajax-value="@subscription.Id" onclick="deleteSubscription(this);">@DataAnnotations.Cancel</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a asp-action="Index" asp-controller="Donate" class="btn btn-default">@DataAnnotations.AddNewSubscription</a>

<script type="text/javascript">
    function deleteSubscription(item) {
        var result = confirm("@DataAnnotations.CancelSubscription");
        if (result) {
            //Logic to delete the item
            var id = $(item).attr("data-ajax-value");
            window.location = "/Subscription/Delete?subscriptionId=" + id;
        }
        else {
            return;
        }
    };
</script>